
<aside>
	<ul class="sidebar-options">
		<li><a href="/#/news/{{article.slug}}/edit"><i class="fa fa-pencil"></i> Edit article</a></li>
		<li><a href="/#/news"><i class="fa fa-arrow-left"></i> Back to news</a>
	</ul>

	<div class="article-authors">
		<div class="user-vcard">
			<i class="fa fa-user avatar"></i>
			<small class="user user-label">Created <time datetime="{{article.dateCreated}}">{{article.dateCreatedFromNow}}</time> by</small>
			<span class="user user-name">{{article.author.name.first}} {{article.author.name.last}}</span>
			<span class="user user-email">{{article.author.email}}</span>
		</div>

		<div ng-show="article.editor" class="user-vcard">
			<i class="fa fa-user avatar"></i>
			<small class="user user-label">Last modified <time datetime="{{article.dateModified}}">{{article.dateModifiedFromNow}}</time> by</small>
			<span class="user user-name">{{article.editor.name.first}} {{article.editor.name.last}}</span>
			<span class="user user-email">{{article.editor.email}}</span>
		</div>
	</div>

	<ul class="sidebar-options article-categories">
		<h3 ng-if="article.category.length >= 2">Categories</h3>
		<h3 ng-if="article.category.length <= 1">Category</h3>
		<li ng-repeat="category in article.category.sort()">
			<a>
				<i class="fa fa-tag"></i> {{category}}
			</a>
		</li>	
	</ul>
</aside>

<h1 class="articles-header">News article</h1>	

<article class="article-detail">
	<time class="article-time" datetime="{{article.dateCreated}}" >{{article.dateCreatedPretty}}</time>

	<h2>{{article.title}}</h2>
	<div ng-bind-html="article.body" class="article-body">{{article.body}}</div>
</article>

<ol class="article-comments">
	<h1>Comments</h1>
	<li ng-repeat="comment in article.comments | orderBy: '-dateCreated'">
		<div class="comment-author user-vcard">
			<i class="fa fa-user avatar" title="{{comment.author.name.first}} {{comment.author.name.last}}"></i>
			<small class="user user-label">Created <time datetime="{{comment.dateCreated}}">{{comment.dateCreatedFromNow}}</time> by</small>
			<span class="user user-name">{{comment.author.name.first}} {{comment.author.name.last}}</span>
			<span class="user user-email">{{comment.author.email}}</span>
		</div>
		<div class="comment-body" ng-bind-html="comment.body"></div>
		<a ng-click="deleteComment(comment._id)" class="comment-delete">Delete comment</a>
	</li>
	<li class="article-comment">
		<div class="comment-author user-vcard">
			<i class="fa fa-user avatar" title="{{user.name.first}} {{user.name.last}}"></i>
			<small class="user user-label">Post new comment</small>
			<span class="user user-name">{{user.name.first}} {{user.name.last}}</span>
			<span class="user user-email">{{user.email}}</span>
		</div>
		<form class="comment-body" ng-submit="postComment()">
			<textarea ng-model="commentBody" placeholder="Let them know what you think. And use Markdown for style!"></textarea>
			<button type="submit">Save</button>
		</form>
	</li>
</ol>