<h1>{{subTitle.substr(2)}}</h1>
<form ng-submit="updateArticle()">
	
	<div class="form-main">
		<label for="article-title">Title</label>
		<input id="article-title" type="text" autofocus ng-model="editArticle.title">

		<label for="article-content">Content</label>
		<textarea id="article-content" placeholder="Please use Markdown to create lists, headings, tables, etc." ng-model="editArticle.body"></textarea>
	</div>

	<div class="form-sidebar">
		
		<div class="form-controls">
			<button type="submit">Save</button>
			<button type="reset">Clear</button>
		</div>

		<div class="form-users">
		
			<i class="fa fa-user avatar"></i>
			<small class="author writer-label">Author</small>
			<span class="author writer-name">{{user.name.first}} {{user.name.last}}</span>
			<span class="author writer-email">{{user.email}}</span>			
		</div>

		<label for="article-parent">Category</label>
		<ul class="form-options article-categories">
			<li ng-repeat="category in articlesCategories">
				<a ng-click="articleCategoryToggle($index)">
					<i class="fa" ng-class="{'fa-check-circle': editArticle.category.indexOf(category) != -1, 'fa-circle-o': editArticle.category.indexOf(category) == -1}"></i> {{category}}
				</a>
			</li>	
		</ul>

		<label>Options</label>
		<ul class="form-options">
			<li><a ng-click="previewArticle()"><i class="fa fa-file-o"></i> Preview article</a></li>
			<li><a href="http://www.daringfireball.net/markdown" target="_blank"><i class="fa fa-code"></i> Markdown guide</a></li>
			<li>&nbsp;</li>
			<li><a href="/#/news"><i class="fa fa-arrow-left"></i> Back to overview</a></li>
		</ul>
			
	</div>
</form>

<div class="alert" ng-show="errorMessage">
	{{errorMessage}}
	<span class="close" ng-click="errorMessage = !errorMessage">&times;</span>
</div>

<div class="modal-wrapper" ng-show="previewBody">
	<div class="modal-header">
		<span class="modal-title">Preview article</span>
		<span class="modal-close" ng-click="previewBody = !previewBody">&times;</span>
	</div>
	<div class="modal-body">
		<h1>{{editArticle.title}}</h1>
		<div ng-bind-html="previewBody"></div>
	</div>
</div>