<aside class="float-right">
	<ul class="sidebar-options">
		<li><a href="/#/news/add"><i class="fa fa-plus-circle"></i> New article</a></li>
	</ul>

	<ul class="sidebar-options condensed">
		<h3>Categories</h3>
		<li ng-repeat="category in articlesCategories.sort()">
			<a ng-click="articleCategoryToggle($index)">
				<i class="fa" ng-class="{'fa-check-circle': listCriteria.articlesActiveCategories.indexOf(category) != -1, 'fa-circle-o': listCriteria.articlesActiveCategories.indexOf(category) == -1}"></i> {{category}}
			</a>
		</li>	
	</ul>
	
	<ul class="sidebar-options">
		<h3>Options</h3>
		<select ng-model="listCriteria.articlesVisible" ng-change="newArticlesVisible()">
			<option value="10">10 articles</option>
			<option value="25">25 articles</option>
			<option value="50">50 articles</option>
			<option value="100">100 articles</option>
		</select>
	</ul>

</aside>

<article ng-repeat="article in articleList | orderBy: '-dateCreated'" class="article-link">
	<time class="article-time" datetime="{{article.dateCreated}}" >{{article.dateCreatedPretty}}</time>

	<h2 ng-click="articleDetail(article.indexNo)">{{article.title}}</h2>
	<div class="article-excerpt">{{article.excerpt}} ...</div>
	<small class="article-footer">
		Posted <time datetime="{{article.dateCreated}}">{{article.dateCreatedFromNow}}</time> by {{article.author.name.first}} {{article.author.name.last}}
		in 
		<ul class="article-categories">
			<li ng-repeat="category in article.category.sort()">{{category}}</li>
		</ul>

		<span class="article-comments-amount">{{article.commentNo}}</span>
	</small>
</article>
	
<ul class="sidebar-options article-pagination" ng-show="totalArticles.pages.length > 1">
	<li ng-if="listCriteria.articlesPage > 2" ng-click="listCriteria.articlesPage = 1" class="pagination-previous">
		<i class="fa fa-angle-double-left"></i>
	</li>
	<li ng-if="listCriteria.articlesPage > 1" ng-click="listCriteria.articlesPage = listCriteria.articlesPage - 1" class="pagination-previous">
		<i class="fa fa-angle-left"></i>
	</li>
	<li ng-repeat="page in totalArticles.pages | limitTo: listCriteria.articlesPage + 1 | limitTo: -3" 
		ng-click="listCriteria.articlesPage = page" 
		ng-class="{active: page == listCriteria.articlesPage}">{{page}}</li>
	<li ng-if="listCriteria.articlesPage < totalArticles.pages.length" ng-click="listCriteria.articlesPage = listCriteria.articlesPage + 1"  class="pagination-next">
		<i class="fa fa-angle-right"></i>
	</li>
	<li ng-if="listCriteria.articlesPage < totalArticles.pages.length - 1" ng-click="listCriteria.articlesPage = totalArticles.pages.length"  class="pagination-next">
		<i class="fa fa-angle-double-right"></i>
	</li>
</ul>