
<aside>
	<ul class="sidebar-options">
		<li><a href="/#/news/add"><i class="fa fa-plus-circle"></i> New article</a></li>
	</ul>

	<ul class="sidebar-options article-categories">
		<h3>Categories</h3>
		<li ng-repeat="category in articleCategories">
			<a ng-click="articleCategoryToggle($index)">
				<i class="fa" ng-class="{true: 'fa-check-circle', false: 'fa-circle-o'}[articleCategories[$index].active]"></i> {{category.name}}
			</a>
		</li>	
	</ul>

	<ul class="sidebar-options article-archive">
		<h3>Archive</h3>
		<li><a><i class="fa fa-circle-o"></i> April 2014</a></li>
		<li><a><i class="fa fa-circle-o"></i> March 2014</a></li>
		<li><a><i class="fa fa-circle-o"></i> February 2014</a></li>
		<li><a><i class="fa fa-circle-o"></i> January 2014</a></li>
		<li><a><i class="fa fa-circle-o"></i> December 2013</a></li>
</aside>

<h1 class="articles-header">News</h1>

<article ng-click="articleDetail(article.indexNo)" ng-repeat="article in articleList | orderBy: '-dateCreated'">
	<time class="article-time" datetime="{{article.dateCreated}}">{{article.dateCreatedPretty}}</time>

	<h2>{{article.title}}</h2>
	<div class="article-excerpt">{{article.excerpt}} ...</div>
	<small>
		Posted <time datetime="{{article.dateCreated}}">{{article.dateCreatedFromNow}}</time> by {{article.hero.name.first}} {{article.hero.name.last}}
		in 
		<ul class="article-categories">
			<li ng-repeat="category in article.category | filter: {active: true}">{{category.name}}</li>
		</ul>
		
	</small>
</article>