<aside>
	<ul class="sidebar-nav">
		<li ng-class="{active: activeSubnav == 'overview'}">
			<a href="/#/docs/overview">Overview</a>
		</li>
		<li ng-repeat="option in submenu | filter:{ parent: 'noParent'} | orderBy:'title'" ng-class="{active: option.slug == activeSubnav}">
			<a href="/#/docs/{{option.slug}}" title="{{option.title}}">{{option.title}}</a>
			<ul class="sidebar-subnav">
				<li ng-repeat="suboption in submenu | filter:{ parent: option.slug }" ng-class="{active: suboption.slug == activeSubsubnav}">
					<a href="/#/docs/{{option.slug}}/{{suboption.slug}}" title="{{suboption.title}}">{{suboption.title}}</a>
				</li>		
			</ul>
		</li>
	</ul>

	<ul class="sidebar-options">
		<li><a href="/#/docs/add"><i class="fa fa-plus-circle"></i> New document</a></li>
		<li ng-if="activeSubnav != 'overview'">
			<a ng-if="activeSubsubnav" href="/#/docs/{{activeSubnav}}/{{activeSubsubnav}}/edit"><i class="fa fa-pencil"></i> Edit document</a>
			<a ng-if="!activeSubsubnav" href="/#/docs/{{activeSubnav}}/edit"><i class="fa fa-pencil"></i> Edit document</a>
		</li>
	</ul>
</aside>

<article>
	<h1>{{subTitle.substr(2)}}</h1>
	<div ng-bind-html="doc.body" class="document-body"></div>
	<small ng-show="doc.editor">Last edited by {{doc.editor}} on {{doc.dateModified}}</small>
	<small>Create by {{doc.author}} on {{doc.dateCreated}}</small>
</article>

<div class="modal-wrapper" ng-show="modalContent.title">
	<div class="modal">
		<span class="modal-close" ng-click="modalContent.title = !modalContent.title">&times;</span>
		
		<h1>{{modalContent.title}}</h1>
		
		<ng-include src="modalContent.body"></ng-include>
	</div>
</div>