<h1>New document</h1>
<form ng-submit="postDoc()">
	
	<div class="form-main">
		<label for="doc-title">Title</label>
		<input id="doc-title" type="text" autofocus="autofocus" ng-model="postDoc.title">

		<label for="doc-content">Content</label>
		<textarea id="doc-content" placeholder="Please use Markdown to create lists, headings, tables, etc." ng-model="postDoc.body"></textarea>
	</div>
	<div class="form-sidebar">
		
		<div class="form-controls">
			<button type="submit">Submit</button>
			<button type="reset">Clear</button>
		</div>

		<label for="doc-category">Category</label>
		<div class="checkboxes">
			<label for="category-uncategorized">
				<input type="checkbox" id="category-uncategorized" name="uncategorized" checked ng-model="postDoc.category.uncategorized"> Uncategorized
			</label>
			<label for="category-events">
				<input type="checkbox" id="category-events" name="events" ng-model="postDoc.category.events"> Events
			</label>
			<label for="category-customer">
				<input type="checkbox" id="category-customer" name="customer" ng-model="postDoc.category.customer"> Customer
			</label>
			<label for="category-it">
				<input type="checkbox" id="category-it" name="it" ng-model="postDoc.category.it"> IT
			</label>
			<label for="category-hr">
				<input type="checkbox" id="category-hr" name="hr" ng-model="postDoc.category.hr"> Human resources
			</label>
			
		</div>

		<label for="doc-parent">Parent</label>
		<select name="docParent" id="doc-parent" ng-model="postDoc.parent">
			<option value="noParent" selected="selected">No parent</option>
			<option value="docParent1">Parent page #1</option>
			<option value="docParent2">Parent page #2</option>
			<option value="docParent3">Parent page #3</option>
			<option value="docParent4">Parent page #4</option>
			<option value="docParent5">Parent page #5</option>
		</select>

		<label>Options</label>
		<a href="#">Preview document</a><br>
		<a href="http://www.daringfireball.net/markdown" target="_blank">Markdown guide</a><br>
		&nbsp;<br>
		&larr; <a href="/#/docs">Back to overview</a><br>
			
	</div>
</form>