<h1>{{subTitle.substr(2)}}</h1>
<form ng-submit="postDoc()">
	
	<div class="form-main">
		<label for="doc-title">Title</label>
		<input id="doc-title" type="text" autofocus ng-model="newDoc.title">

		<label for="doc-content">Content</label>
		<textarea id="doc-content" placeholder="Please use Markdown to create lists, headings, tables, etc." ng-model="newDoc.body"></textarea>
	</div>

	<div class="form-sidebar">
		
		<div class="form-controls">
			<button type="submit">Save</button>
			<button type="reset">Clear</button>
		</div>

		<div class="form-users">
		
			<i class="fa fa-user avatar"></i>
			<small class="author writer-label">Author</small>
			<span class="author writer-name">{{user.name.first}} {{user.name.last}}</span>
			<span class="author writer-email">{{user.email}}</span>			
		</div>

		<label for="doc-parent">Parent</label>
		<select name="docParent" id="doc-parent" ng-model="newDoc.parent">
			<option value="noParent" selected="selected">No parent</option>
			<option ng-repeat="option in submenu | filter:{ parent: 'noParent' } | orderBy:'title'" value="{{option.slug}}">{{option.title}}</option>
		</select>

		<label>Options</label>
		<ul class="form-options">
			<li><a href="#"><i class="fa fa-file-o"></i> Preview document</a></li>
			<li><a href="http://www.daringfireball.net/markdown" target="_blank"><i class="fa fa-code"></i> Markdown guide</a></li>
			<li>&nbsp;</li>
			<li><a href="/#/docs"><i class="fa fa-arrow-left"></i> Back to overview</a></li>
		</ul>

		<div class="alert" ng-show="errorMessage">
			{{errorMessage}}
			<span class="close" ng-click="errorMessage = !errorMessage">&times;</span>
		</div>
			
	</div>
</form>