<h1>Upcoming events</h1>

<ul class="upcoming-events">
	<li ng-repeat="event in upcomingEvents" ng-click="upcomingClick(event)" class="upcoming-content">	 
		<span class="upcoming-title"><span class="color-block" style="background-color: {{event.category.color}}"></span> {{event.title}}</span>

		<span class="upcoming-timeline" ng-show="event.timeline == 'history'">Started {{fromNow(event.start)}}</span>
		<span class="upcoming-timeline" ng-show="event.timeline == 'today'"><strong>Today</strong></span>
		<span class="upcoming-timeline" ng-show="event.timeline == 'tomorrow'">Tomorrow</span>
		<span class="upcoming-timeline" ng-show="event.timeline == 'future'">{{fromNow(event.start)}}</span>
		<br>

		<dl>
			<dt>Date:</dt>
			<dd>{{event.period}}</dd>
			<dt>Author:</dt>
			<dd>{{event.author.name.first}} {{event.author.name.last}}</dd>
		</dl>
	</li>
</ul>