<div ng-controller="dashboardNews">
	
	<section style="width: 39%">
		<h1>Memos 
			<span href="" ng-click="freshMemo = !freshMemo">
				<i ng-hide="freshMemo">Create</i>
				<i ng-show="freshMemo">Close</i>
			</span>
		</h1>
		<ul class="memos">
			<li class="fresh-memo" ng-show="freshMemo">
				<textarea ng-model="newMemo" maxlength="300"></textarea>
				<button ng-click="createMemo()">Create</button>
				<span class="fresh-memo-length">{{300 - newMemo.length}} left</span>
			</li>
			<li ng-repeat="memo in memos.data | limitTo: memoLimit">
				<img src="/uploads/{{memo.author.picture}}" title="{{memo.author.name.first}} {{memo.author.name.last}}" class="avatar">
				{{memo.body}}<br>
				<small>
					<time datetime="{{memo.date}}">{{fromNow(memo.date)}}</time>
					<a href="" class="remove" ng-click="removeMemo(memo._id)">Remove</a>
				</small>
			</li>
			<li ng-show="memos.data.length == 0" class="no-memo">
				There are no memos
			</li>
			<li ng-show="memos.count > memoLimit" class="pagination">
				<a href="" ng-click="navMemo('prev')" class="prev" ng-show="memoPage > 0">&laquo; Previous</a>
				{{memoPage + 1}} of {{memoPages}}
				<a href="" ng-click="navMemo('next')" class="next" ng-show="memoPage + 1 < memoPages">Next &raquo;</a>
			</li>
		</ul>
	</section>

	<section style="width: 39%">
		<h1>Events
			<span href="" class="dropdown" ng-class="{active: eventFilter.length > 0}">Filter
				<ul class="checkboxes">
					<li ng-repeat="category in categoryList">
						<label for="{{category.slug}}">
							<input type="checkbox" id="{{category.slug}}" value="{{category._id}}" ng-checked="eventFilter.indexOf(category._id) > -1" ng-click="categoryToggle(category._id)">
							<i class="color-block" style="background-color: {{category.color}};"></i>
							{{category.name}}
						</label>
					</li>
				</ul>
			</span>
		</h1>
		<ul class="upcoming-events">
			<li ng-repeat="event in upcomingEvents" class="upcoming-content" ng-click="upcomingClick(event.start)">
				<time datetime="P{{fromNowDays(event.start)}}" class="upcoming-time">{{fromNowDays(event.start)}}</time>

				<span class="color-block" style="background-color: {{event.category.color}}" title="{{event.category.name}}"></span>
				<img src="/uploads/{{event.author.picture}}" title="Author: {{event.author.name.first}} {{event.author.name.last}}" class="upcoming-author">

				<span class="upcoming-headline">
					<strong> {{event.title}}</strong> on {{event.period}} <time datetime="PdurationDays(event.start, event.end" class="upcoming-duration">{{durationDays(event.start, event.end)}}</time><br>
				</span>
				
				<div class="upcoming-person">Posted by <em>{{event.author.name.first}} {{event.author.name.last}}</em></div>

				<div class="upcoming-note">{{event.note}}</div>
			</li>
		</ul>
	</section>

	<section style="width: 22%">

		<h1>Changelog</h1>
		<ul class="changelog">
			<li ng-repeat="change in changelog.data | limitTo: changeLimit">
				<img src="/uploads/{{change.user.picture}}" title="{{change.user.name.first}} {{change.user.name.last}}" class="avatar">
				{{change.user.name.first}} {{change.action}}d <a href="/#/{{change.section}}/{{change.slug}}">{{change.title}}</a> in <span class="change-section">{{change.section}}</span> <br>
				<small><time datetime="{{change.date}}">{{fromNow(change.date)}}</time></small>
			</li>
			<li ng-show="changelog.count > memoLimit" class="pagination">
				<a href="" ng-click="navChange('prev')" class="prev" ng-show="changePage > 0">&laquo; Previous</a>
				{{changePage + 1}} of {{changePages}}
				<a href="" ng-click="navChange('next')" class="next" ng-show="changePage + 1 < changePages">Next &raquo;</a>
			</li>
		</ul>
	</section>

</div>