
include ../header.jade

#main

	include ../sidebar.jade

	#content.sidebar-present

		if subpage == "dashboard"

			:markdown

				# Home

				## Frangitur ora erat nomine genibus

				Lorem markdownum pater, potita sperne monitu, parensque secus puellari comitant
				partus. [Posita comitantibus
				aliter](http://en.wikipedia.org/wiki/Sterling_Archer) Lacedaemoniumque harenas
				commeruisse non illius potentior rogantis! Et viaeque! Modo sui, unda semine;
				lacte illi, miscuit cum gesserit traxit uritur munus. Margine quoque *non
				causamque* venio; *a potentia*, inde in Ulixes!

				Quinos funda nunc Iunonia milibus; Propoetides somni quis: nec parte damus,
				natus Amphion. Aequore remotos Iuppiter iter ei Phoebus paene aliquem lanas
				loquendo superasset **Samon** id.

				- Habebat egissem
				- Vobis tua
				- Adde Calydon Venus opaca

				## Ore nunc canescunt aequora minata exaestuat tegmine

				Quem loca sunt ne arbore aequora auctor, raras deae umero repetitaque Aeacus et
				senili veneni nuribus. Praeruptam cura; arbitrium venerantur adapertaque Cadmi
				polenta. Sedere super et virgo Venus erat tecta aut bracchia
				[vagantem](http://eelslap.com/), glandiferam ipsa alta meminitque utile! Vertere
				iram Aetolius recepta in protinus inplevit totum, piumque, avi, fretum? *Deus
				Iuppiter interitura* fuit magni aut, lapidumque gurges nunc nata adiutis.

				Puppes acie inmensum caelum, dryades aer arma ante viam felicem inritata solus,
				si clade [animam tandemque](http://gifctrl.com/). Hoc ante erat, sub femina
				[tamen ramos](http://www.billmays.net/) canis puta.

				> Saxum in [coluntur illa](http://www.thesecretofinvisibility.com/) turpis es
				> iam veterem tellus quamvis **volentem** duplex caelo. Quam nec media, se petat
				> fame nitar populo doleret dixisse. Potuisse illo mortes ducem causa nantemque
				> senectae interceperit quam in. Catulus quam coeunt, voce ipse successerat
				> Boote largis, habet motibus cantu.

				**Nil** malus caecaeque contingere comes collumque natus sedisti deus, [alis
				corpora](http://www.thesecretofinvisibility.com/) Orionis bibulas potes
				chlamydis vigil usu in animasque. Bellis forma viri removit *nec*? Cacumine
				negabo **quantaque** indoluit duo hunc mediumque habet iam sequitur vestem
				pugnam in huc. Vehit voce Peleu tantum. Ora eodem, populos cornua: operi quo
				non, famulosne.

				[Posita comitantibus aliter]: http://en.wikipedia.org/wiki/Sterling_Archer
				[alis corpora]: http://www.thesecretofinvisibility.com/
				[animam tandemque]: http://gifctrl.com/
				[coluntur illa]: http://www.thesecretofinvisibility.com/
				[tamen ramos]: http://www.billmays.net/
				[vagantem]: http://eelslap.com/

		else if subpage == "phone"

			:markdown

				# Phone numbers

				## Dominos in Onetor dentes

				Lorem markdownum, vocatum quatiatur se ruinas tutos Troiae ferventia ex milibus
				solio vel ille. Ceu est armamentis loqui, quibus lapides, revincta parabant,
				[Ceyx](http://www.wedrinkwater.com/), egentes **in tangat**. Ora iras sidera ea
				utraque, unde iam arcuerat Curetas, reus qua lingua bicorni Phaethon sine
				demugitaeque [prodit](http://www.youtube.com/watch?v=MghiBW3r65M)! Albula
				quaeque adit, ab coepta bracchia cum et recondidit?

				- Feruntur traxit spernimus solebat patriae modo
				- Utque gurgite imis neve alta in nostra
				- Media et secreta Achille attonitaeque sine prolemque

				## Mortales Sirenum nec me quos clamatque inscriptum

				Ut dimovit Sybarin, [in opus numero](http://textfromdog.tumblr.com/) tot, videt
				suppressit in alligat feret, fatalia. Quietis ore nare clavae stellatus glandes,
				vobis. Non tria tendentes tenere superesse? *Nec* que agmina convicia utque,
				mutando ibit: sed pignora Elide unum nutrix; de.

				1. Auso displicet sibila medios cernit
				2. Vernos nam ducem quoque longa rursus lustrat
				3. Soporem alta caedis suspiratibus iuvenis interceperit altis
				4. Superorum dextraque ponit
				5. Incurvo sic venimus utrumque

				## Premuntur et Iuno orbem fuso

				Illa stant amans fontesque altrici, vos abdita dominam nunc? Sonum Aeacideia
				tellure lumina: [super percussit](http://www.wtfpl.net/) et est Alcmene et rerum
				cohibentur itum deceptus Attica nec fruge terram quicquam. Ad iuveni *in*
				fragorem Aenea non **fluidoque multis iubet**, ibat neci. Et est pignus gurgite,
				meritique, nec flexum fletus.

				Nescitve Cyllenide aetas; illa coma: gravi ille dea deam est sed cognoscere et
				es quod utere *bellis*. Nomen ipse, non omni negetur vicini, vero te. Sua
				pariterque cervi ferre versus coniunctis cetera, fuerat cepit mihi freta, mitis
				ignotum, pollice. Cura conantem parentem, non Ossa formosus fulmine namque legi
				continui hiemes, restabat novissima harundine.

				Male uterque summum integer mihi dedit moras tangere fortibus. Modo oculos,
				longi demas pater, cum cruentior ora sua flammas palato!

				[Ceyx]: http://www.wedrinkwater.com/
				[in opus numero]: http://textfromdog.tumblr.com/
				[prodit]: http://www.youtube.com/watch?v=MghiBW3r65M
				[super percussit]: http://www.wtfpl.net/

		else if subpage == "address"

			if subsubpage == "shipping"

				:markdown

					# Shipping

					## Et intendens visu natis

					Lorem markdownum euntem rebus erat hunc erat erat litora circum, pectora quae.
					Ubi armis potentia, crura aliena, et umbram minus perdidit tellure avem *gens*
					fata litusque et facibus. Ut ureret venabula abire, Solis fidelem [quantaque
					spatium](http://www.youtube.com/watch?v=MghiBW3r65M), palla silva baculo, et
					est.

					- Matre clipeoque sinuantur et tanto maturuit
					- Sine praestans totidem
					- Mea duxit et hinc similis Proetus

					## Nec in laborent contenta

					Potest udaeque Noemonaque victor natusque, sacrata fieri hirsutis in. Ambos
					mixtae, **ara inde** se Alcathoi colloque circumspicit neque et fatemur dato.
					Procnes si regina abiit et [geminis arceat](http://gifctrl.com/) a iuris urbem,
					armo post perque. Patrio gaudia vehit furit experiar ferrum sed mixtoque erat.

					## Eripuit inclusas in herba delusa quae carpit

					Feraxque diligis paelicis et ferro Delphos negate mixtam Hiberis ne quoque
					voluptas lenius sequeretur quartus praesens qua. A inmurmurat, solebat scinditur
					quaeque sacerdos iunxit, ulli Laiades. Mersis iano pacalibus ultima iuvenaliter
					vestra hic videoque decimo eam *iam simulat* Argus agam. Ensem solitus revincta
					mactandus est o offensa, inpulsumque equae nec scelus est idem: terga hoc
					mirata: *est*. Quaque est at rostro *licet* guttura ipse ignes, **fuit arcus**
					amplexo [pellite](http://www.billmays.net/); vixque minimam.

					- Es pasci nam inpediique Amor
					- Commune amanti pulsoque
					- Ab Learchum orbe

					## Templo minus et verum sed erat

					Hac hortus fatigat quaerentibus rabiem. Et digni potuisse quale; nescia
					nectareis deprecor minor tendens annos sperne iuventa spectas castra.
					Revolutaque uncis *miranti* medios. Nunc Lenaee in labe **deceptus artus
					viribus** noverat missus, toros usa vota. Celas Hospitis coniuge dum conspiceris
					visa, iter priscum latratibus sol stetit loquor iuventae cedere conamine.

					In Sidonius morti, caruerunt inposuit quas postquam. Est adfecit ablata.

					[geminis arceat]: http://gifctrl.com/
					[pellite]: http://www.billmays.net/
					[quantaque spatium]: http://www.youtube.com/watch?v=MghiBW3r65M

			else if subsubpage == "contacts"

				:markdown

					# Important contacts

					## Et intendens visu natis

					Lorem markdownum euntem rebus erat hunc erat erat litora circum, pectora quae.
					Ubi armis potentia, crura aliena, et umbram minus perdidit tellure avem *gens*
					fata litusque et facibus. Ut ureret venabula abire, Solis fidelem [quantaque
					spatium](http://www.youtube.com/watch?v=MghiBW3r65M), palla silva baculo, et
					est.

					- Matre clipeoque sinuantur et tanto maturuit
					- Sine praestans totidem
					- Mea duxit et hinc similis Proetus

					## Nec in laborent contenta

					Potest udaeque Noemonaque victor natusque, sacrata fieri hirsutis in. Ambos
					mixtae, **ara inde** se Alcathoi colloque circumspicit neque et fatemur dato.
					Procnes si regina abiit et [geminis arceat](http://gifctrl.com/) a iuris urbem,
					armo post perque. Patrio gaudia vehit furit experiar ferrum sed mixtoque erat.

					## Eripuit inclusas in herba delusa quae carpit

					Feraxque diligis paelicis et ferro Delphos negate mixtam Hiberis ne quoque
					voluptas lenius sequeretur quartus praesens qua. A inmurmurat, solebat scinditur
					quaeque sacerdos iunxit, ulli Laiades. Mersis iano pacalibus ultima iuvenaliter
					vestra hic videoque decimo eam *iam simulat* Argus agam. Ensem solitus revincta
					mactandus est o offensa, inpulsumque equae nec scelus est idem: terga hoc
					mirata: *est*. Quaque est at rostro *licet* guttura ipse ignes, **fuit arcus**
					amplexo [pellite](http://www.billmays.net/); vixque minimam.

					- Es pasci nam inpediique Amor
					- Commune amanti pulsoque
					- Ab Learchum orbe

					## Templo minus et verum sed erat

					Hac hortus fatigat quaerentibus rabiem. Et digni potuisse quale; nescia
					nectareis deprecor minor tendens annos sperne iuventa spectas castra.
					Revolutaque uncis *miranti* medios. Nunc Lenaee in labe **deceptus artus
					viribus** noverat missus, toros usa vota. Celas Hospitis coniuge dum conspiceris
					visa, iter priscum latratibus sol stetit loquor iuventae cedere conamine.

					In Sidonius morti, caruerunt inposuit quas postquam. Est adfecit ablata.

					[geminis arceat]: http://gifctrl.com/
					[pellite]: http://www.billmays.net/
					[quantaque spatium]: http://www.youtube.com/watch?v=MghiBW3r65M 

			else if subsubpage == "misc"

				:markdown

					# Miscellaneous

					## Et intendens visu natis

					Lorem markdownum euntem rebus erat hunc erat erat litora circum, pectora quae.
					Ubi armis potentia, crura aliena, et umbram minus perdidit tellure avem *gens*
					fata litusque et facibus. Ut ureret venabula abire, Solis fidelem [quantaque
					spatium](http://www.youtube.com/watch?v=MghiBW3r65M), palla silva baculo, et
					est.

					- Matre clipeoque sinuantur et tanto maturuit
					- Sine praestans totidem
					- Mea duxit et hinc similis Proetus

					## Nec in laborent contenta

					Potest udaeque Noemonaque victor natusque, sacrata fieri hirsutis in. Ambos
					mixtae, **ara inde** se Alcathoi colloque circumspicit neque et fatemur dato.
					Procnes si regina abiit et [geminis arceat](http://gifctrl.com/) a iuris urbem,
					armo post perque. Patrio gaudia vehit furit experiar ferrum sed mixtoque erat.

					## Eripuit inclusas in herba delusa quae carpit

					Feraxque diligis paelicis et ferro Delphos negate mixtam Hiberis ne quoque
					voluptas lenius sequeretur quartus praesens qua. A inmurmurat, solebat scinditur
					quaeque sacerdos iunxit, ulli Laiades. Mersis iano pacalibus ultima iuvenaliter
					vestra hic videoque decimo eam *iam simulat* Argus agam. Ensem solitus revincta
					mactandus est o offensa, inpulsumque equae nec scelus est idem: terga hoc
					mirata: *est*. Quaque est at rostro *licet* guttura ipse ignes, **fuit arcus**
					amplexo [pellite](http://www.billmays.net/); vixque minimam.

					- Es pasci nam inpediique Amor
					- Commune amanti pulsoque
					- Ab Learchum orbe

					## Templo minus et verum sed erat

					Hac hortus fatigat quaerentibus rabiem. Et digni potuisse quale; nescia
					nectareis deprecor minor tendens annos sperne iuventa spectas castra.
					Revolutaque uncis *miranti* medios. Nunc Lenaee in labe **deceptus artus
					viribus** noverat missus, toros usa vota. Celas Hospitis coniuge dum conspiceris
					visa, iter priscum latratibus sol stetit loquor iuventae cedere conamine.

					In Sidonius morti, caruerunt inposuit quas postquam. Est adfecit ablata.

					[geminis arceat]: http://gifctrl.com/
					[pellite]: http://www.billmays.net/
					[quantaque spatium]: http://www.youtube.com/watch?v=MghiBW3r65M 

		else if subpage == "links"

			:markdown

				# Useful links

				## Inque maior sustinet deducunt visa veniente mortale

				Lorem markdownum quoque amans portarum cum captivo oscula adspicit mersit! Solus
				suo [ruunt trahens](http://www.lipsum.com/) tela **tempore**, et lacrimis dolore
				tales ne facio serpentibus nati, vix. Qua certius ignes, origo liquidumque illa,
				satiatur dei Myrmidonasque. Quidem freta arserat irascentemque sapiente Rhodopen
				erimus, arma defendere facto
				[Laertaque](http://kimjongunlookingatthings.tumblr.com/), corpore idem grando
				ebur, semper et.

				Flumina in etiam erit tritis non petis has regia aere parabat, aeger? Iam
				semesarumque rupe: auras papaver pulcherrime falce, in haesit ausum. Virgis
				supervolat Iovem comitata capiunt dolentes legem *lacrimae* nectare damnarat,
				in. Flamma cur tremens opto crudelia *fixurus deposcunt* terris deprenderat
				poplite, et Hodites per taedia gravi. Imitetur carmen erat Iolaus si *malorum
				pendebat regit* regis sed prohibent equi mutata!

				## Concipiunt utraque tributum pectus pendet ipsaque deo

				Iuno nos. Apolline linquit sollicitata [unius dextramque
				lege](http://www.wtfpl.net/), ira nais mitescere aliter, **esse contra**? Est et
				miseram aras admirantibus multi Scythiae inque: optari et recludi siccat dumque
				meos, ante cum. Est videns latebat detractare formosus, ense? Sinu exire irasci,
				in arva solvit te pugnax cum, amento nomine.

				- Est sanguine clivo de ales
				- Usum fortuna linguam
				- Remis una sunt in falso templa praedone
				- De pinum
				- Aura modo
				- Et cerno arces sprevit Argo moribunda utque

				## Satis in mollis circo quoque

				Et exit trans tenent, aliquid clauserat vigoris Saturnus vinci; ter iuvenum
				sonuit, tegi. Totidem neque. Confusa si vocibus, nunc moriemur! Naides tutus ubi
				fata haud, opus, cognoscere divite coram et orbam: bicoloribus heres **ora**.
				Carinam silet vapor venit, fuit nomenque, sum **nec** nec monitis spretis
				pectore Phlegyanque futuro retro.

				- Aut viam aequorea captantur casses mittere ore
				- Tenues ungues namque ipsa
				- Anxia quidem ager dolor in hiatus nervo
				- Ante in nuntia

				## Aequore det artus ac abdidit vincula iamque

				Reddunt aequora coniugis comites. Non veteris vocis, de et deae aequoris caeli
				mox [norint mersae](http://twitter.com/search?q=haskell) ambiguus sapiente ab
				laticem nemus a. Summa lucifer Aeacus. Sit inque erit dedit convellere vacuas
				Lyciaeque eripis semina, laurus modo tempore arces grandine concubitus.

				Fecit qui cautibus ore precaris currus, ad partim ut in. Esset in fremitu novos
				cladem Atlas effundite armi ortus membra. Radiis auro tuque virtutis falsa haec
				crescit nodosaque antiquas artus perdant.

				[Laertaque]: http://kimjongunlookingatthings.tumblr.com/
				[norint mersae]: http://twitter.com/search?q=haskell
				[ruunt trahens]: http://www.lipsum.com/
				[unius dextramque lege]: http://www.wtfpl.net/

		else if subpage == "numbers"

			:markdown

				# Other numbers

				## Inque maior sustinet deducunt visa veniente mortale

				Lorem markdownum quoque amans portarum cum captivo oscula adspicit mersit! Solus
				suo [ruunt trahens](http://www.lipsum.com/) tela **tempore**, et lacrimis dolore
				tales ne facio serpentibus nati, vix. Qua certius ignes, origo liquidumque illa,
				satiatur dei Myrmidonasque. Quidem freta arserat irascentemque sapiente Rhodopen
				erimus, arma defendere facto
				[Laertaque](http://kimjongunlookingatthings.tumblr.com/), corpore idem grando
				ebur, semper et.

				Flumina in etiam erit tritis non petis has regia aere parabat, aeger? Iam
				semesarumque rupe: auras papaver pulcherrime falce, in haesit ausum. Virgis
				supervolat Iovem comitata capiunt dolentes legem *lacrimae* nectare damnarat,
				in. Flamma cur tremens opto crudelia *fixurus deposcunt* terris deprenderat
				poplite, et Hodites per taedia gravi. Imitetur carmen erat Iolaus si *malorum
				pendebat regit* regis sed prohibent equi mutata!

				## Concipiunt utraque tributum pectus pendet ipsaque deo

				Iuno nos. Apolline linquit sollicitata [unius dextramque
				lege](http://www.wtfpl.net/), ira nais mitescere aliter, **esse contra**? Est et
				miseram aras admirantibus multi Scythiae inque: optari et recludi siccat dumque
				meos, ante cum. Est videns latebat detractare formosus, ense? Sinu exire irasci,
				in arva solvit te pugnax cum, amento nomine.

				- Est sanguine clivo de ales
				- Usum fortuna linguam
				- Remis una sunt in falso templa praedone
				- De pinum
				- Aura modo
				- Et cerno arces sprevit Argo moribunda utque

				## Satis in mollis circo quoque

				Et exit trans tenent, aliquid clauserat vigoris Saturnus vinci; ter iuvenum
				sonuit, tegi. Totidem neque. Confusa si vocibus, nunc moriemur! Naides tutus ubi
				fata haud, opus, cognoscere divite coram et orbam: bicoloribus heres **ora**.
				Carinam silet vapor venit, fuit nomenque, sum **nec** nec monitis spretis
				pectore Phlegyanque futuro retro.

				- Aut viam aequorea captantur casses mittere ore
				- Tenues ungues namque ipsa
				- Anxia quidem ager dolor in hiatus nervo
				- Ante in nuntia

				## Aequore det artus ac abdidit vincula iamque

				Reddunt aequora coniugis comites. Non veteris vocis, de et deae aequoris caeli
				mox [norint mersae](http://twitter.com/search?q=haskell) ambiguus sapiente ab
				laticem nemus a. Summa lucifer Aeacus. Sit inque erit dedit convellere vacuas
				Lyciaeque eripis semina, laurus modo tempore arces grandine concubitus.

				Fecit qui cautibus ore precaris currus, ad partim ut in. Esset in fremitu novos
				cladem Atlas effundite armi ortus membra. Radiis auro tuque virtutis falsa haec
				crescit nodosaque antiquas artus perdant.

				[Laertaque]: http://kimjongunlookingatthings.tumblr.com/
				[norint mersae]: http://twitter.com/search?q=haskell
				[ruunt trahens]: http://www.lipsum.com/
				[unius dextramque lege]: http://www.wtfpl.net/



include ../footer.jade