doctype html
html
	head

		title #{config.name} &mdash; #{config.description}

		link(href='/styles/style.css', rel='stylesheet')
		link(href='/styles/authentication.css', rel='stylesheet')
		link(href='/images/yossarian.ico', rel='shortcut icon')

		script(src='/scripts/modernizr.custom.11163.js')

	body.authentication

		if errorMessage
			span.alert #{errorMessage}
				span.close &times;

		.login-top
		.login-bottom

		.login 

			.login-brand
				span.login-logo
					include ../branding.jade

			.login-form
				h1 #{config.name} <span>&raquo;</span> Login
				form(role='form', action='/login', method='post')
					input.login-username(type='text', name='username', placeholder='Username', autofocus)
					input.login-password(type='password', name='password', placeholder='Password')
					br
					label.login-remember(for='rememberme')
						//- input(type='checkbox', name='remember_me', id='rememberme', checked='checked')
						//-| Remember me
					button(type='submit') Login

			i.fa.fa-refresh.fa-spin

		.login-scripts
			script(src='/scripts/jquery-1.11.0.min.js')
			script(src='/scripts/yossarian-general.js')
			script(src='/scripts/yossarian-login.js')
		