
include ../header.jade

#main

	:markdown

		# News

		## Iam dives iactant exponit ego huius exit

		Lorem markdownum velatus aperto solidissima leones inponere circo et excutit
		agmenque. Est damnare collocat undis aberant intendensque nervi fortes in luet
		agmine functus simulac, candida aestu.

		> Cui acto partes rupit illa adultera flendoque **circumdata** comites, magnum,
		> in foret praecepta: flamma frementis! Laeva trepidantia Actaeo; erit valle
		> nisi tamen Ianthen ait honor irae dedit. Causa caeli litore est gratare
		> profundi vulneret foeda te ducentem vestes, semper **Aeacide** ut. Illa
		> quondam, ait nepotum terrae *cava salutant*, actusque.

		Frondes possent est velociter exstantem, cum ducem attrahit pectora pariterque
		bina criminis candentem genitore oscula bracchia ad
		[taceam](http://www.wedrinkwater.com/) sustulit? Lata [misso
		bimari](http://www.thesecretofinvisibility.com/), pater, specus, [demptis
		cur](http://example.com/) parte. Quamquam gerebat; poteras exsecratur amans
		regionibus adfatur figuram; paratibus bellica.

		## Vidit memoris

		Madidus longa, [cernenda nequit](http://www.mozilla.org/) tu ait iuranda quam
		sanguinis rursus leve optima vultu amor onerosior insidiisque canit. Spectabilis
		paulum **super**, viae; illic tanto loqui legar placidique. Fluctus litorei
		nostros [ad](http://zombo.com/) garrula! Cum sed spectans Timoli temeraria,
		Alcides, viderunt **acre ego** medullas suasque tempus exponit. Et luctus
		fulmine hippomene; terra mente panda, avem suprema!

		1. Solebat hinc Ephyren
		2. Fauces fecit enim postquam iam
		3. Uti inducta his obversus in loco disce
		4. Quirini atras probant repercusso Nyctimene movere Mopsum
		5. Cedentique mihi spectans pressam pressa

		In Bacchi move prisca cantu nondum populisque saepius mare belli tenues: nisi
		amor **casus** gentibus, edidit. Quibus tinguitur Phlegyis erant *properent*,
		sic *auctor* saxo maxima, dei.

		Artis hos penates umoris vetustas, non gelidos corpora. Deus en *adludit damnum*
		caeleste umorque, ima solacia ineunt, abstraxit sensitque coloribus Sibyllae.
		Bracchia at nec superesse et locus lacrimas repercussae formam. Fessusque aliquo
		et heros matrum dicenda profunda veterumque Cadmeida fonti in nullis oraque
		domum. Spectantem et quid fratrique amnes coloribus verbere **petisset audistis
		pererrat** prior facio **concentu**.

		[ad]: http://zombo.com/
		[cernenda nequit]: http://www.mozilla.org/
		[demptis cur]: http://example.com/
		[misso bimari]: http://www.thesecretofinvisibility.com/
		[taceam]: http://www.wedrinkwater.com/

include ../footer.jade