doctype html
html
	head

		title #{site_title} &mdash; #{site_description}

		link(href='/styles/style.css', rel='stylesheet')
		link(href='/images/yossarian.ico', rel='shortcut icon')

		script(src='/scripts/modernizr.custom.11163.js')

	body.authentication

		div.login 

			div.login-brand
				span.login-logo
					include ../branding.jade

			div.login-form
				h1 #{site_title} <span>&raquo;</span> Register
				form(role='form', action="/register",method="post")
					input.login-username(type='text', name="username", placeholder='Username')
					input.login-password(type='password', name="password", placeholder='Password')
					button(type='submit') Submit


		script(src='/scripts/jquery-1.11.0.min.js')
		script(src='/scripts/yossarian.js')