<h1>Upcoming events</h1>

<ul class="upcoming-events">
	<li ng-repeat="event in upcomingEvents" ng-click="upcomingClick(event)" class="upcoming-content">
		<time datetime="P{{fromNowDays(event.start)}}" class="upcoming-time">{{fromNowDays(event.start)}}</time>

		<span class="color-block" style="background-color: {{event.category.color}}" title="{{event.category.name}}"></span>
		<img src="/uploads/{{event.author.picture}}" title="Author: {{event.author.name.first}} {{event.author.name.last}}" class="upcoming-author">

		<span class="upcoming-headline">
			<strong> {{event.title}}</strong> on {{event.period}} <time datetime="PdurationDays(event.start, event.end" class="upcoming-duration">{{durationDays(event.start, event.end)}}</time><br>
		</span>
		
		<div class="upcoming-person">Posted by <em>{{event.author.name.first}} {{event.author.name.last}}</em></div>

		<div class="upcoming-note">{{event.note}}</div>
	</li>
</ul>