<!doctype html>
<html lang="en" ng-app="yossarianApp" ng-controller="yossarianConfig">
	<head>
		<meta charset="UTF-8">
		<title ng-repeat="option in config.navigation">{{config.name}} &mdash; {{navigation[activeNav].name}} {{subTitle}}</title>

		<link rel="stylesheet" href="/styles/style.css">
		<link rel="shortcut icon" href="/images/yossarian.ico">

	</head>
	<body ng-controller="yossarianNav">
		
		<header>
			<a href="/" class="header-brand" title="{{config.name}} &mdash; {{config.description}}" ng-click="select(0)">
				<i class="fa fa-cloud cloud-one"></i>
				<i class="fa fa-cloud cloud-two"></i>
				<i class="fa fa-cloud cloud-three"></i>
				<i class="fa fa-cloud cloud-four"></i>
				<i class="fa fa-plane"></i>
				<i class="fa fa-cloud cloud-five"></i>
				<i class="fa fa-cloud cloud-six"></i>
			</a>

			<form class="header-search" ng-submit="yossarianSearch(yossarianSearchterm)">
				<input type="text" ng-model="yossarianSearchterm">
				<button><i class="fa fa-search"></i></button>
			</form>

			<div class="header-user">
				<i class="fa fa-user avatar"></i>

				<ul class="header-user-menu">
					<li ng-click="select($index)">
						<a href="/#/profile">
							<i class="fa fa-male"></i>
							<span>Profile</span>								
						</a>
					</li>
					<li>
						<a href="/logout">
							<i class="fa fa-sign-out"></i>
							<span>Logout</span>
						</a>
					</li>
				</ul>
			</div>

			<nav class="header-nav">

				<ul>
					<li ng-repeat="option in navigation"  id="{{option.slug}}" ng-click="select($index)" ng-class="{active: $index == activeNav}">
						<a href="/#/{{option.slug}}" title="{{option.name}}">
							<i class="fa fa-{{option.icon}}"></i>
						</a>
					</li>
				</ul>

			</nav>

		</header>

		<main role="main" ng-class="navigation[activeNav].slug" ng-view>
			
		</main>

		<footer>

			<ul>
				<li ng-repeat="option in navigation"  id="{{option.slug}}" ng-click="select($index)" ng-class="{active: $index == activeNav}">
					<a href="/#/{{option.slug}}" title="{{option.name}}">{{option.name}}</a>
				</li>				
			</ul>

			<div class="footer-credits">
				<a href='http://meedoenisbelangrijkerdanwinnen.nl' title='{{config.name}} by M.I.B.D.W.' target='_blank'>Where are the Snowdens of yesteryear?</a>
			</div>
		</footer>

		

		<script src="/scripts/libs/jquery-1.11.1.min.js"></script>
		<script src="/scripts/libs/jquery-ui.min.js"></script>
		<script src="/scripts/libs/moment.min.js"></script>	
		<script src="/scripts/libs/fullcalendar.min.js"></script>

		<script src="/scripts/libs/angular.min.js"></script>
		<script src="/scripts/libs/angular-route.min.js"></script>

		<script src="/scripts/yossarian-app.js"></script>
		<script src="/scripts/yossarian-controllers.js"></script>
		<script src="/scripts/yossarian-news.js"></script>
		<script src="/scripts/yossarian-docs.js"></script>
		<script src="/scripts/yossarian-projects.js"></script>
		<script src="/scripts/yossarian-calendar.js"></script>
		<script src="/scripts/yossarian-settings.js"></script>
	</body>
</html>