<!DOCTYPE html>
<html lang="en" ng-app="yossarian" ng-controller="global">
<head>
	<meta charset="UTF-8">
	<title ng-bind-template="{{moniker}}">Yossarian</title>

	<link rel="stylesheet" href="/styles/yossarian.min.css">
	<link rel="icon" type="image/gif" href="/c130-hercules.gif">

	<script src="/scripts/yossarian.js"></script>
</head>
<body>

	<header>
		
		<a href="/" class="masthead">
			<img src="/c130-hercules.gif" title="{{heading}}">
		</a>
			
		<ul class="nav">
			<li ng-repeat="option in menu" ng-class="{active: option.slug == slug}">
				<a href="/#/{{option.slug}}">{{option.name}}</a>
			</li>
			<li><a href="/logout" title="Logout {{user.name.first}} {{user.name.last}}">Logout</a></li>
		</ul>
	</header>

	<div id="main" role="main" ng-class="slug" ng-view></div>

	<footer>
		<ul class="nav">
			<li ng-repeat="option in menu" ng-class="{active: option.slug == slug}">
				<a href="/#/{{option.slug}}">{{option.name}}</a>
			</li>
		</ul>

		<a href="http://meedoenisbelangrijkerdanwinnen.nl" class="credits">Where are the Snowdens of yesteryear?</a>
	</footer>

</body>
</html>