<aside class="left">

	<ul class="links">
		<li><a href="">New document</a></li>
	</ul>

	<ul class="menu">
		<li><a href="">Frozen</a></li>
		<li><a href="">Whatever snow does</a></li>
		<li class="active">
			<a href="">Puddle</a>
			<ul class="submenu">
				<li><a href="">Ik wil nagellak</a></li>
				<li><a href="">Prinsessen</a></li>
				<li class="active"><a href="">Elsa en Anna</a></li>
				<li><a href="">Huilen</a></li>
			</ul>
		</li>
		<li><a href="">Happy snowman</a></li>
		<li><a href="">Letting of steam</a></li>
		<li><a href="">In summer</a></li>
	</ul>
</aside>

<div class="content right">
	<h1>Lorem ipsum dolor sit amet</h1>

	<p>Consectetur adipisicing elit. Magni error necessitatibus consequuntur est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque? Dolores mollitia quae assumenda voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni error <strong>necessitatibus consequuntur</strong> est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque? Dolores mollitia quae assumenda voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni error necessitatibus <em>consequuntur est voluptates vel dolorum</em>, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque?</p>

	<h2>Dolores mollitia quae assumenda voluptas!</h2> 

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni error necessitatibus consequuntur est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque? Dolores mollitia quae assumenda voluptas! <a href="http://www.lipsum.com">Lorem ipsum</a> dolor sit amet, consectetur adipisicing elit. Magni error necessitatibus consequuntur est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque?</p>

	<p>Dolores mollitia quae assumenda voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni error necessitatibus consequuntur est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque? 

	<ul>
		<li>Dolores mollitia quae assumenda voluptas </li>
		<li>Lorem ipsum dolor sit amet</li>
		<li>Consectetur <strong>adipisicing elit</strong></li>
		<li>Magni error necessitatibus</li>
		<li>Consequuntur est voluptates</li>
	</ul>

	<p>Vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque?</p> 

	<blockquote>Dolores mollitia quae assumenda voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni error necessitatibus consequuntur est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque?</blockquote> 

	<p>Dolores mollitia quae assumenda voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni error necessitatibus consequuntur est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque?</p> 

	<h2>Magni error necessitatibus</h2>

	<p>Dolores mollitia quae assumenda voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="http://duckduckgo.com">Magni error necessitatibus consequuntur</a> est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque? Dolores mollitia quae assumenda voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni error necessitatibus consequuntur est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque? 

	<ol>
		<li>Dolores mollitia quae assumenda voluptas</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li>Magni error necessitatibus consequuntur est voluptates vel dolorum</li>
		<li>Blanditiis saepe quasi adipisci quibusdam pariatur</li>
		<li>Eos porro doloremque?</li>
		<li>Dolores mollitia quae assumenda voluptas! </li>
	</ol>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni error necessitatibus consequuntur est voluptates vel dolorum, blanditiis saepe quasi adipisci quibusdam pariatur, eos porro doloremque? Dolores mollitia quae assumenda voluptas!</p>
</div>