<aside class="float-right">
	<ul class="sidebar-options">
		<li><a href="/#/projects/add"><i class="fa fa-plus-circle"></i> New project</a></li>
	</ul>

	<ul class="sidebar-options article-categories">
		<h3>Categories</h3>
		<li>
			<a>
				<i class="fa fa-circle-o"></i> Category #1
			</a>
		</li>	
		<li>
			<a>
				<i class="fa fa-circle-o"></i> Category #2
			</a>
		</li>	
		<li>
			<a>
				<i class="fa fa-circle-o"></i> Category #3
			</a>
		</li>	
		<li>
			<a>
				<i class="fa fa-circle-o"></i> Category #4
			</a>
		</li>	
	</ul>

</aside>

<h1 class="projects-header">Projects</h1>