<div class="project-detail content right" style="width: 75%" ng-include="projectDetail.url"></div>

<aside class="project-detail left" style="width: 25%">
	<ul class="menu">
		<li ng-class="{active: projectDetail.name == 'description'}"><a href="" ng-click="setProjectDetail(0)">Description</a></li>
		<li ng-class="{active: projectDetail.name == 'timeline'}"><a href="" ng-click="setProjectDetail(1)">Timeline</a></li>
		<li><a href="/#/projects/{{currentProject.slug}}/update">Update project</a></li>
		<li><a href="/#/projects">Back to projects</a></li>
	</ul> 

	<span class="project-completed" ng-show="currentProject.tasks.length == currentProject.completedTasks && currentProject.tasks.length != 0">Project completed!</span>

	<dl class="project-dates" ng-show="currentProject.start || currentProject.end">
		<dt ng-show="currentProject.start">Start date:</dt>
		<dd ng-show="currentProject.start">{{displayDate(currentProject.start)}} <small>({{fromNow(currentProject.start)}})</small></dd>
		<dt ng-show="currentProject.end">End date:</dt>
		<dd ng-show="currentProject.end">{{displayDate(currentProject.end)}} <small>({{fromNow(currentProject.end)}})</small></dd>
		<dt>Duration:</dt>
		<dd>{{currentProject.duration}}</dd>
	</dl>

	<ul class="credits">
		<li>
			<img src="/uploads/{{currentProject.author.picture}}" class="avatar">
			<strong>{{currentProject.author.name.first}} {{currentProject.author.name.last}}</strong> <small>Author</small><br>
			<a href="mailto:{{currentProject.author.email}}">{{currentProject.author.email}}</a><br>
			<small>Created <time datetime="{{currentProject.postDate}}">{{fromNow(currentProject.postDate)}}</time></small>
		</li>
		<li ng-if="currentProject.editor">
			<img src="/uploads/{{currentProject.editor.picture}}" class="avatar">
			<strong>{{currentProject.editor.name.first}} {{currentProject.editor.name.last}}</strong> <small>Editor</small><br>
			<a href="mailto:{{currentProject.editor.email}}">{{currentProject.editor.email}}</a><br>
			<small>Last updated <time datetime="{{currentProject.editDate}}">{{fromNow(currentProject.editDate)}}</time></small>
		</li>
	</ul>
	
	<label>Participants:</label>
	<ul class="project-participants" ng-show="currentProject.participants.length > 0">
		<li ng-repeat="participant in currentProject.participants" ng-class="{owner: participant._id == currentProject.owner}">
			<img src="/uploads/{{participant.picture}}" class="avatar" title="{{participant.name.first}} {{participant.name.last}}">
		</li>
	</ul>

	<label>Categories:</label>
	<ul class="badges project-categories">
		<li ng-repeat="category in currentProject.categories" style="background-color: {{category.color}}" title="{{category.name}}">
			{{category.name}}
		</li>
	</ul>


</aside>