<aside class="right" style="width: 22%">
	<ul class="menu" style="margin: .5em 0 0;">
		<li ng-class="{active: projectView.name == 'list'}"><a href="" ng-click="setProjectView(0)">List</a></li>
		<li ng-class="{active: projectView.name == 'calendar'}"><a href="" ng-click="setProjectView(1)">Calendar</a></li>
		<li><a href="/#/projects/create">Create project</a></li>
	</ul>	

	<input type="text" class="search" ng-model="projectSearch" placeholder="Search projects" ng-show="projectView.name == 'list'">
	<a href="" class="clear" ng-show="projectSearch" ng-click="clearProjectSearch()" ng-show="projectView.name == 'list'">Clear</a>

	<ul class="checkboxes" style="margin-top: 1em; padding-bottom: 0;" ng-show="projectView.name == 'list'">
		<li>
			<label for="open">
				<input type="checkbox" id="open" ng-click="setStatusProjects('open')" ng-checked="statusProjects == 'open'"> Open projects
			</label>
		</li>
		<li>
			<label for="closed">
				<input type="checkbox" id="closed" ng-click="setStatusProjects('closed')" ng-checked="statusProjects == 'closed'"> Completed projects
			</label>
		</li>
	</ul>

	<ul class="checkboxes">
		<li ng-repeat="category in categoryList">
			<label for="{{category.slug}}">
				<input type="checkbox" id="{{category.slug}}" value="{{category._id}}" ng-checked="categoriesProjects.indexOf(category._id) > -1" ng-click="categoryToggle(category._id)"> 
				<span class="color-block" style="background-color: {{category.color }};"></span>
				{{category.name}}
			</label>
		</li>
	</ul>

	<ul class="select" ng-show="projectView.name == 'list'">
		<li>
			<label for="projects-sort">Sort by</label>
			<select ng-model="sortProjects" id="projects-sort" ng-change="setSortProjects()">
				<option value="-postDate">Post date</option>
				<option value="title">Title</option>
				<option value="start">Start date</option>
				<option value="end">End date</option>
			</select>
		</li>	
	</ul>
			
</aside>

<div class="content left" style="width: 78%" ng-include="projectView.url">


</div>