@import "normalize.less";
@import "fonts.less";
@import "font-awesome.min.less";

body {
	font-family: "Clear Sans", Verdana, sans-serif;
	font-size: 15px;
	color: @general-text;
}

a {
	color: @general-text;
	text-decoration: none;
	border-bottom: 2px solid @brand-color;
	display: inline-block;
	line-height: 1.15em;

	&:hover {
		border-bottom-color: darken(@brand-color, 10%);
	}
}