#main.calendar {
	aside {
		padding-left: 0;
		border-left-width: 0;

		.upcoming-events {

			li {
				padding: .5em 0 .5em 7em;
				position: relative;
				font-size: .9em;
				border-bottom: 1px solid @line;
				white-space: normal;
				cursor: pointer;


				.upcoming-time {
					position: absolute;
					left: 0;
					top: .7em;
					color: @vague;
					width: 2.4em;
					text-align: center;
					font-size: .9em;
				}

				.color-block {
					position: absolute;
					left: 3em;
					top: .7em;
					width: 1.5em;
					height: 1.5em;
				}

				.upcoming-author {
					position: absolute;
					top: .7em;
					left: 4.7em;
					width: 1.5em;
					height: 1.5em;
				}

				.upcoming-duration {
					color: @vague;
					font-size: .75em;
				}

				.upcoming-person {
					color: @vague;
					font-size: .9em;
				}

				.upcoming-note {
					margin-top: .3em;
					color: @vague;
					font-size: .9em;
				}

				&:hover { 
					background-color: @hover; 

					.upcoming-time, .upcoming-duration, .upcoming-person, .upcoming-note {
						color: @text;
					}
				}

			}
		}
	}

	.calendar-title { font-size: 1.6em; }
	.calendar-nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: right;
		padding-top: .5em;	

		li {
			display: inline;
			margin-left: .2em;

			&.calendar-today, &.calendar-create { margin-right: 1em; }

			&.calendar-filter {
				margin-right: 1em;
				position: relative;

				.active span {
					font-weight: bold;
					text-decoration: underline;
				}

				ul {
					z-index: 999;
					position: absolute;
					top: 20px;
					left: 50%;
					width: 140px;
					background-color: @back;
					border: 1px solid @text;
					padding: .5em;	
					margin-left: -70px;

					li {
						display: block;
						margin-bottom: .1em;

						label {
							color: @text;
							line-height: 1em;
							display: block;
							white-space: nowrap;
							overflow-x: hidden;
							text-overflow: ellipsis;
						}
					}						
				}
			}
		}
	}

	.event-cancel {
		float: right;
		padding-top: .5em;
	}

	.event-form {
		.clearfix;

		label {
			float: left;
			width: 25%;
			clear: left;
		}

		input[type='text'], input[type='date'], textarea, select {
			float: left;
			width: 75%;

			&#start { padding-right: 70px } 
		}
	}

	.event-range {
		float: right;
		width: 60px;
		font-size: .9em;
		margin: -2em -.2em 0 0;
	}

	.event-submit {
		float: right;
		margin-top: .2em;
	}

	.event-remove {
		line-height: 1.8em;
	}

	.credits {
		padding-top: .5em; 
	}
}
