body {
	padding: 0 .5em; 
}

.login {
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;

	input {
		width: 100%;
	}

	button {
		float: right;
	}
}

.under-construction {
	text-align: center;
	margin: 6em 0;
	color: @vague;
	font-size: 2em;
	font-weight: bold;
}

header {
	line-height: 2em;
	border-bottom: 1px solid @line;
	margin-bottom: 1.5em;
	padding-bottom: .4em;	

	.masthead {
		font-weight: bold;
		color: @text;

		span {
			position: relative;
			top: -.3em;
		}
	}

	.nav  {
		list-style-type: none;
		float: right;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			margin-left: .85em;

			&.active a  {
				color: @text;
				text-decoration: underline;
			}
		}
	}
}

#main { 
	.clearfix;

	section {
		float: left;
		padding: 0 1.5em;
		border-width: 0 1px 0 0;
		border-style: solid;
		border-color: @line;
		.box-sizing (border-box);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right-width: 0;
		}
	}

	.content {
		padding: 0 1.5em;
		.box-sizing (border-box);

		&.left {
			float: left;
			padding-left: 0;
		}

		&.right {
			float: right;
			border-left-width: 1px;
			padding-right: 0;
		}
	}

	.form {
		input[type='text'], select, textarea {
			float: left;
			width: 87%;
		}

		label {
			float: left;
			width: 13%;
		}

		.preview {
			margin-top: .5em;

			.form-close-preview {
				float: right;
				margin-top: .8em;
			}
		}

		.form-controls {
			margin-top: 1em;
			margin-bottom: .5em;
			.clearfix; 
			
			button[type='submit'] {
				float: right;
			}

			.form-clear { 
				float: left;
				line-height: 2em;
			}

			.form-remove {
				float: right;
				line-height: 2em;
				margin-right: 1em;
			}
		}

		.form-checkboxes {
			h4 {
				float: left;
				color: @vague;
				font-weight: normal;
				text-decoration: none;
				position: absolute;
			}

			label {
				float: left;
				width: auto;
				line-height: 1.4em;
				color: @text;
				padding-left: 30%;
			}
		}

		.form-selects {
			margin-bottom: 1em;
			.clearfix;

			label { width: 30% }
			select { width: 70% }
		}

		.form-links {
			border-top: 1px solid @line;
			padding-top: .5em;
		}
	}
}

aside {
	padding: 0 1.5em 2em;
	border-color: @line;
	border-style: solid;
	border-width: 0;	
	.box-sizing (border-box);

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0 0 1em;
		.clearfix;
			
		&.menu { line-height: 1.3em; }

		h4 {
			font-size: 1em;
			font-weight: bold;
			text-decoration: underline;
			margin: 0 0 .3em;
		}

		li {
			.text-truncate;

			.submenu { display: none; }

			&.active {
				border: 1px solid @line;
				line-height: 1.7em;
				font-weight: bold;
				background-color: @back;
				margin: .3em 0;

				a { color: @text; }

				.submenu {
					display: block;
					line-height: 1.3em;
					padding-bottom: 0;
					padding-left: 1em;
					font-weight: normal;

					li {

						a { color: @link; }

						&.active {
							border-width: 0;
							line-height: 1.2em;
							background-color: transparent;
							margin: 0;
							padding: 0;
						}

						&:last-child { padding-bottom: .3em }
					}
				}
			}
		}

		label { cursor: pointer; }

		&.checkboxes label {
			float: left;
			width: auto;
			line-height: 1.4em;
			color: @text;
		}
	}

	&.left {
		float: left;
		border-right-width: 1px;
		margin-left: 0;
		padding-left: 0;

		ul li { padding-left: .8em; }

		ul li.active {
			margin-right: -1.6em;
			padding-right: 1.6em;
			padding-left: .8em;
			border-right-color: @back;

			a:hover { text-decoration: none; }

			.submenu li { padding-left: 0; }
		}
	}

	&.right {
		float: right;
		border-left-width: 1px;
		padding-right: 0;

		ul li.active {
			margin-left: -1.55em;
			padding-left: 1.55em;
			border-left-color: @back;

			a:hover { text-decoration: none; }
		}
	}
}

footer {
	line-height: 2em;
	border-top: 1px solid @line;
	margin-top: 2em;

	.nav  {
		list-style-type: none;
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			margin-right: .5em;

			a {
				color: @vague;

				&:hover {
					color: @text;
					text-decoration: none;
				}
			}

			&.active a {
				text-decoration: underline;
			}
		}
	}

	.credits {
		float: right;
		color: @vague;
		font-style: italic;

		&:hover { 
			color: @text;
			text-decoration: none; 
		}
	}
}