body {
	padding: 0 .5em; 
}

.login {
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;

	input {
		width: 100%;
	}

	button {
		float: right;
	}
}

.under-construction {
	text-align: center;
	margin: 6em 0;
	color: @vague;
	font-size: 2em;
	font-weight: bold;
}

header {
	line-height: 2em;
	border-bottom: 1px solid @line;
	margin-bottom: 1.5em;
	padding-bottom: .4em;	

	.masthead {
		img {
			margin: 3px 0 -5px;
		}
	}

	.nav  {
		list-style-type: none;
		float: right;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-left: 1.2em;

			&.active a  {
				color: @text;
				text-decoration: underline;
			}

			&.user-nav {
				position: relative;
				width: 35px;
				cursor: pointer;

				.avatar {
					position: absolute;
					top: 0;
					right: 0;
					width: 35px;
					height: 35px;
				}

				ul {
					display: none;
					position: absolute;
					top: 20px;
					right: -5px;
					min-width: 7em;
					padding: 20px 0 20px 20px;
					margin: 0;

					li {
						padding: 0;
						line-height: auto;
						margin: 0;
						display: block;

						a {
							background-color: @back;
							padding: 0 .6em;
							display: block;
							border-width: 0 1px 1px;
							border-style: solid;
							border-color: @line;

							&:hover {
								color: @text;
							}
						}

						&:first-child a { border-top-width: 1px; }

						&:after {
							content: "";
							display: block;
							position: absolute;
							top: 12px;
							right: 15px;
							width: 15px;
							height: 15px;
							background-color: @back;
							border-width: 1px 1px 0 0;
							border-style: solid;
							border-color: @line;
							transform: rotate(-45deg);
						}
					}
				}

				&:hover ul {
					display: block;
				}
			}
		}
	}
}

#main { 
	.clearfix;

	section {
		float: left;
		padding: 0 1.5em;
		border-width: 0 1px 0 0;
		border-style: solid;
		border-color: @line;
		.box-sizing (border-box);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right-width: 0;
		}
	}

	.content {
		padding: 0 1.5em;
		.box-sizing (border-box);

		&.left {
			float: left;
			padding-left: 0;
		}

		&.right {
			float: right;
			border-left-width: 1px;
			padding-right: 0;
		}
	}

	.form {
		input[type='text'], select, textarea {
			float: left;
			width: 87%;
		}

		label {
			float: left;
			width: 13%;
		}

		.preview {
			margin-top: .5em;

			.form-close-preview {
				float: right;
				margin-top: .8em;
			}
		}

		.form-controls {
			margin-top: 1em;
			margin-bottom: .5em;
			.clearfix; 
			
			button[type='submit'] {
				float: right;
			}

			.form-clear { 
				float: left;
				line-height: 2em;
			}

			.form-remove {
				float: right;
				line-height: 2em;
				margin-right: 1em;
			}
		}

		.form-checkboxes {
			h4 {
				float: left;
				color: @vague;
				font-weight: normal;
				text-decoration: none;
				position: absolute;
			}

			label {
				float: left;
				width: auto;
				line-height: 1.4em;
				color: @text;
				padding-left: 30%;
			}
		}

		.form-selects {
			margin-bottom: 1em;
			.clearfix;

			label { width: 30% }
			select { width: 70% }
		}

		.form-inputs {
			margin-bottom: 1em;
			.clearfix;

			label { 
				width: 30%;
				padding: 1px 0 3px 0; 
			}

			input {
				width: 70%;
				float: right;
			}
		}

		.form-links {
			border-top: 1px solid @line;
			padding-top: .5em;
		}
	}
}

aside {
	padding: 0 1.5em 2em;
	border-color: @line;
	border-style: solid;
	border-width: 0;	
	.box-sizing (border-box);

	.search { 
		width: 100%; 
		padding-right: 50px;
	}

	.clear {
		float: right;
		position: relative;
		top: -1.8em;
		right: .5em;
		margin-bottom: -1.8em;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0 0 1em;
		.clearfix;
			
		&.menu { line-height: 1.3em; margin-top: 1em }
		&.links { margin-top: 1em }

		h4 {
			font-size: 1em;
			font-weight: bold;
			text-decoration: underline;
			margin: 0 0 .3em;
		}

		li {
			.text-truncate;

			.submenu { display: none; }

			&.active {
				border: 1px solid @line;
				line-height: 1.7em;
				font-weight: bold;
				background-color: @back;
				margin: .3em 0;

				a { color: @text; }

				.submenu {
					display: block;
					line-height: 1.3em;
					padding-bottom: 0;
					padding-left: 1em;
					font-weight: normal;

					li {

						a { 
							color: @link; 
							
							&:hover { text-decoration: underline }
						}

						&.active {
							border-width: 0;
							line-height: 1.2em;
							background-color: transparent;
							margin: 0;
							padding: 0;

							a:hover { text-decoration: none }
						}

						&:last-child { padding-bottom: .3em }
					}
				}
			}
		}

		label { cursor: pointer; }

		&.checkboxes label, &.radio label {
			float: left;
			width: auto;
			line-height: 1.4em;
			color: @text;
		}

		&.select {
			label { 
				width: 28%; 
				display: inline-block;
			}
			select { 
				width: 70%; 
			}
		}

		&.results {

			li {
				cursor: pointer;
				padding: .4em 0;
				border-bottom: 1px solid @line;
				font-size: 0.8em;

				strong {
					display: block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 1.3em;
					margin-bottom: .2em;
				}

				dl {
					color: @vague;
					line-height: 1.3em;

					dt { float: left; }
					dd { 
						margin-left: 20%;

						strong {
							display: inline;
							font-size: 1em;
						}
					}
				}

				.categories {
					list-style-type: none;
					margin: 0;
					padding: 0;
					font-size: 1em;
					white-space: normal;

					li {
						display: inline;
						border-width: 0;
						padding: 0 .2em;
						margin: 0 .2em 0 0;
						color: #fff;
					}
				}

				&:hover { background-color: @hover }

				&.no-results {
					cursor: default;
					color: @vague;
					font-size: 1em;

					&:hover { background-color: transparent; }
				}
			}
		}
	}

	&.left {
		float: left;
		border-right-width: 1px;
		margin-left: 0;
		padding-left: 0;

		ul li { padding-left: .8em; }

		ul li.active {
			margin-right: -1.6em;
			padding-right: 1.6em;
			padding-left: .8em;
			border-right-color: @back;

			a:hover { text-decoration: none; }

			.submenu li { padding-left: 0; }
		}
	}

	&.right {
		float: right;
		border-left-width: 1px;
		padding-right: 0;

		ul li.active {
			margin-left: -1.55em;
			padding-left: 1.55em;
			border-left-color: @back;

			a:hover { text-decoration: none; }
		}
	}
}

footer {
	line-height: 2em;
	border-top: 1px solid @line;
	margin-top: 2em;

	.nav  {
		list-style-type: none;
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			margin-right: .5em;

			a {
				color: @vague;

				&:hover {
					color: @text;
					text-decoration: none;
				}
			}

			&.active a {
				text-decoration: underline;
			}
		}
	}

	.credits {
		float: right;
		color: @vague;
		font-style: italic;

		&:hover { 
			color: @text;
			text-decoration: none; 
		}
	}
}