@back: white;
@text: black;
@line: #ddd;
@vague: #999;
@link: blue;

@mark: yellow;
@hover: paleturquoise;
@active: darkturquoise;

@high: orangered;
@medium: lighten(@high, 15%);
@low: lighten(@high, 30%);
@completed: palegreen;

@error: red;
@alert: lighten(yellow, 15%);
@info: royalblue;
@success: forestgreen;

@import 'mixins';
@import 'elements';
@import 'layout';

@import 'dashboard';
@import 'docs';
@import 'calendar';
@import 'projects';
@import 'relations';
@import 'settings';
