@back: white;
@text: black;
@line: gainsboro;
@vague: silver;
@link: blue;
@mark: yellow;
@hover: lightcyan;
@active: cyan;

@import 'mixins';
@import 'elements';
@import 'layout';
@import 'specifics';