#main {
	
	&.docs {
		.meta {
			margin-top: 1.5em;
			padding-top: .5em;
			border-top: 1px solid @line;
			font-size: .9em;
			color: @vague;

			dl {
				margin: 0;
				padding: 0;
				float: left;

				dt {
					float: left;
					clear: left;
					width: 3em;
				}

				dd {
					float: left;
				}
			}

			.badges {
				margin: 0;
				padding: 0;
				float: right;
				list-style-type: none;

				li {
					padding: 0 .3em;
					display: inline;
					color: @back;
					margin-left: .3em;
				}
			}

			.doc-update {
				float: right;
			}
		}	
	}

	&.calendar {
		aside {
			padding-left: 0;
			border-left-width: 0;

			.upcoming-events {

				li {
					position: relative;
					cursor: pointer;

					.upcoming-category {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						bottom: 0;
						width: 1em;
					}

					.upcoming-content {
						margin-left: 1em;
						padding: .3em .7em .6em 1em;
						border-width: 1px 1px 0 0;
						border-color: @line;
						border-style: solid;
						font-size: .8em;

						.upcoming-title {
							font-weight: bold;
							font-size: 1.3em;
						}

						.upcoming-timeline {
							float: right;
							line-height: 20px;
						}
					}

					&:hover { background-color: @hover }
					&:last-child .upcoming-content { border-bottom-width: 1px }

					dl {
						color: @vague;

						dt { float: left }
						dd { margin-left: 20% }
					}
				}
			}
		}

		.calendar-title { font-size: 1.6em; }
		.calendar-nav {
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: right;
			padding-top: .5em;	

			li {
				display: inline;
				margin-left: .2em;

				&.calendar-today, &.calendar-create { margin-right: 1em; }

				&.calendar-filter {
					margin-right: 1em;
					position: relative;

					.active span {
						font-weight: bold;
						text-decoration: underline;
					}

					ul {
						z-index: 999;
						position: absolute;
						top: 20px;
						left: 50%;
						width: 140px;
						background-color: @back;
						border: 1px solid @text;
						padding: .5em;	
						margin-left: -70px;

						li {
							display: block;
							margin-bottom: .1em;

							label {
								color: @text;
								line-height: 1em;
								display: block;
								white-space: nowrap;
								overflow-x: hidden;
								text-overflow: ellipsis;
							}
						}						
					}
				}
			}
		}

		.event-cancel {
			float: right;
			padding-top: .5em;
		}

		.event-form {
			.clearfix;

			label {
				float: left;
				width: 25%;
				clear: left;
			}

			input[type='text'], input[type='date'], textarea, select {
				float: left;
				width: 75%;

				&#start { padding-right: 70px } 
			}
		}

		.event-range {
			float: right;
			width: 60px;
			font-size: .9em;
			margin: -2em -.2em 0 0;
		}

		.event-submit {
			float: right;
			margin-top: .2em;
		}

		.event-remove {
			line-height: 1.8em;
		}

		.credits {
			padding-top: .5em; 
		}
	}

	&.projects {

		aside {

			.checkboxes {
				margin-top: 1em;
			}

			.links {
				margin-top: .6em;
				padding-top: .6em;
				border-top: 1px solid @line;
			}

			.credits li  {
				padding-left: 50px;
			}
		}

		.project-list {
			margin: 0;
			list-style-type: none;

			& > li { .clearfix; }

			li {
				margin-bottom: 1.5em;
				padding-bottom: .5em;
				border-bottom: 1px solid @line;

				.project-left {
					float: left;
					width: 75%;
					padding-right: 1em;
					.box-sizing (border-box);
				}

				.project-right {
					float: left;
					width: 25%;
					padding-left: 1em;
					.box-sizing (border-box);
				}

				.project-participants {
					list-style-type: none;
					padding: 0 0 .5em;
					margin: 0;	

					small {
						display: block;
						padding-left: 3px;
						line-height: 1.5em;
					}

					li {
						display: inline-block;
						border-bottom-width: 0;
						padding: 0;
						margin: 0;

						img {
							border: 3px solid transparent;
						}

						&.owner img {
							border-color: @mark;
						}
					}
				}

				.project-tasks {
					list-style-type: disc;
					padding: 0;
					margin: 0;

					small {
						display: block;
						padding: 0 0 0 3px;
						marging: 0 0 .3em 0;
						line-height: 1.5em;
					}

					li {
						margin: 0 0 0 1em;
						padding: 0;
						border-width: 0;
						font-size: .9em;
						color: @text;
					}				
				}

				.project-period {
					line-height: 1.4em;
					.text-truncate;
				}

				h2 {
					margin-bottom: 0;
					.text-truncate;

					.completed {
						text-decoration: line-through;
					}

					small { 
						padding: 0 .2em;
						background-color: @hover;
						color: @text; 	
					}
				}

				.project-meta {
					float: left;
					width: 100%;
					margin-top: 1.5em;
					padding-top: .5em;
					border-top: 1px solid @line;
					font-size: .9em;
					color: @vague;

					dl {
						margin: 0;
						padding: 0;
						float: left;

						dt {
							float: left;
							clear: left;
							width: 3em;
						}

						dd {
							float: left;
						}
					}

					.badges {
						margin: 0;
						padding: 0;
						float: right;
						display: inline;
						list-style-type: none;

						li {
							padding: 0 .3em;
							display: inline;
							color: @back;
							margin-left: .3em;
							border-bottom-width: 0;
						}
					}

					.project-update {
						float: right;
					}
				}	

				&.no-projects {
					text-align: center;
					color: @vague;
					border-bottom-width: 0;
				}
			
			}
		}

		.project-nav {
			color: @vague;
			text-align: center;

			.project-prev { float: left; }
			.project-next { float: right; }
		}

		.project-detail {

			h1.completed {
				text-decoration: line-through;
			}
			
			.tasks-header {
				border-bottom: 1px solid @line;
				margin-bottom: .5em;
				.clearfix; 

				h2 {
					display: inline; 
					line-height: 1.6em;
				}

				label[for="tasks-sorting"] { 
					float: right;
					margin: 3px 5px 0 0; 
				}

				#tasks-sorting {
					float: right;
				}
			}

			.task-list {
				padding: 0;
				margin: 0;
				list-style-type: none;	
			}

			.project-completed {
				display: inline-block;
				font-size: 1.5em;
				font-weight: bold;
				margin-bottom: 1em;
				padding: 0 .2em;
				background-color: @hover;
			}

			.links {
				margin: .6em 0 1em;
				padding: .6em 0 0;
				border-top: 1px solid @line;

				li { padding-left: 0 }
			}

			.project-dates {
				margin-top: 0;

				dt {
					float: left;
					color: @vague;
				}

				dd {
					margin-left: 32%;
				}
			}

			.project-participants {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					margin: 0;
					padding: 0;

					img { border: 3px solid transparent; }

					&.owner img { border-color: @mark; }
				}
			}

			.badges {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					padding: 0 .3em;
					display: inline;
					color: @back;
					margin-left: .3em;
					border-bottom-width: 0;
				}
			}
		}

		.user-list {
			float: left;
			margin: 0 0 0 30%;
			padding: 0;
			width: 70%;
			list-style-type: none;

			li {
				cursor: pointer;

				&:hover, &:focus { background-color: @hover; }
				&:first-child { border-top-width: 0 }
			}

			.no-users {
				padding: .6em 0;
				text-align: center;
				color: @vague;
			}
		}

		.participant-list {
			float: left;
			margin: 0 0 0 30%;
			padding: .4em 0 0;
			width: 70%;
			list-style-type: none;

			li {
				display: inline-block;
				text-align: center;
				margin-bottom: -3px;
				position: relative;

				img {
					border: 3px solid transparent;
				}

				&.owner img {
					border-color: @mark;
				}

				a {
					font-size: .7em;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					text-align: center;
					background-color: @back;
					visibility: hidden;
				}

				&:hover a {
					visibility: visible;
				}
			}
		}

		.task-list {
			padding: 0;
			list-style-type: none;	

			li {			

				&.no-tasks {
					padding: .3em 0;
					color: @vague;
					font-style: italic;
					text-align: center;
				}

				&.task {
					border-top: 1px solid @line;
					padding: .5em 0;
					.clearfix;

					&.completed {
						border-left: .5em solid @hover;
						padding-left: .5em;
					}

					&:first-child { border-top-width: 0; }

					h3 {
						margin-bottom: 0;
						float: left;
						width: 75%;
						.box-sizing (border-box);
						
						&.completed span {
							text-decoration: line-through;
						}

						small {	
							display: inline; 
							background-color: @hover;
							color: @text;
							padding: 0 .2em;
							float: none;
							width: auto;
						}
					}	

					small {
						display: block;
						line-height: 1.4em;
						margin-bottom: .4em;
						float: left;
						width: 75%;
						.box-sizing (border-box);

						&.tasked-count {
							margin: .4em 3px -.1em;
						}
					}

					.task-description {
						width: 75%;
						padding-right: 1em;
						float: left;
						.box-sizing (border-box);

						ul, ol {
							list-style-type: initial;
							margin: 1em 0;
						}
					}

					.task-sidebar {
						float: right;
						width: 25%;
						border-left: 1px solid @line;
						padding-left: 1em;
						.box-sizing (border-box);
					}

					.tasked-count {
						float: none;
						width: 100%;
					}

					.tasked {
						margin: 0;
						padding: 0;
						list-style-type: none;

						li {
							display: inline-block;
							border-top-width: 0;

							img {
								border: 3px solid transparent;
							}

							&.owner img {
								border-color: @mark;
							}
						}
					}

					.task-priority {
						color: @vague;
						margin-bottom: .5em;

						strong { color: @text; }
					}

					.task-options {
						margin: .7em 0 0;
						padding: .2em 0 0;
						border-top: 1px solid @line;
						list-style-type: none;
					}

					.edit-task {
						.edit-task-main {
							float: left;
							width: 65%;
							padding-right: 1em;
							.box-sizing (border-box);

							label {
								width: 18%;
								display: block;
								float: left;
							}
							input, textarea {
								float: left;
								width: 82%;
							}

							.task-start, .task-end {
								width: 30%;
								margin-right: 3px;
							}
						}

						.edit-task-sidebar {
							float: left;
							width: 35%;
							padding-left: 1em;
							border-left: 1px solid @line;
							.box-sizing (border-box);
							
							label {
								width: 30%;
								float: left;
								display: block;
							}

							select, input {
								float: left;
								width: 70%;
							}

							.edit-task-options {
								float: left;
								width: 100%;
								margin-top: 1em;
								padding-top: .5em;
								border-top: 1px solid @line;

								button, .remove {
									float: right;
									margin-left: .4em;
								}

								.remove, .cancel {
									line-height: 2em;
								}
							}
						}
					}
				}

				&.new-task {
					border-top: 1px solid @line;
					margin-top: 1em;
					padding: 1em 0 .3em;

					label {
						width: 20%;
						clear: left;
					}

					input, textarea, select {
						width: 80%;
					}

					#task-start, #task-end {
						width: 30%;
						margin-right: 3px;
					}

					.user-list {
						margin: 0 0 0 20%;
						padding: 0;
						width: 80%;

						li {
							border-top-width: 0;

							&.no-users {
								margin-left: 0;
							}
						}
					}

					.participant-list {
						margin: -5px 0 0 20%;

						li { border-top-width: 0; }
					}

					.clear {
						float: left;
						clear: left;
						margin-top: .6em;
						margin-left: 20%;
					}

					.create, .update {
						float: right;
						clear: left;
						margin-top: .3em;
					}

					.cancel {
						float: right;
						margin: .6em .6em 0 0;
					}
				}
			}
		}

		.tasks {
			border-top: 1px solid @line;
			float: left;
			width: 100%;
			margin-top: 1.5em;
			padding-top: 1.5em;

			.task-list {
				padding: 0;
				margin: 0 0 0 13%;
				list-style-type: none;	
			}
		}


	}

	&.settings {

		.categories {
			
			.category-list {
				list-style-type: none;
				margin: 0;
				padding: 0;
				.clearfix();

				li { 

					div { .clearfix(); }				
					a { display: none; }
					&:hover a { display: inline; }

					input[type='text'] { width: 50%; }
					select { width: 40%; margin-bottom: 10px; }
				}
			}

			.category-create {
				input[type='text'] { width: 60%; }
			}
		}

		.users {
			.user-search { 
				width: 100%; 
				padding-right: 4em;
			}
			
			.user-nav {
				text-align: center;
				color: @vague;
				margin-top: .5em;

				.user-next { float: right; }
				.user-prev { float: left; }
			}

			.user-clear {
				float: right;
				position: relative;
				top: -1.8em;
				right: .5em;
			}

			.user-list {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					padding: .5em 0;
					border-bottom: 1px solid @line;
					cursor: pointer;

					&:hover { background-color: @hover; }
					&.active { background-color: @mark; }

					img {
						width: 40px;
						height: 40px;
						margin: 0 .5em 0 0;
						float: left;
					}
				}
			}

			.user-form {
				h2 { 
					float: left;
					width: 81%;
				}

				.close {
					float: right;
					line-height: 2em;
				}

				input[type='text'], input[type='password'], input[type='date'], input[type='email'], input[type='file'], select, textarea {
					float: left;
					width: 80%;

					&#new-confirm, &#update-confirm { margin: 0 0 1.5em 20%; }
					&#new-first-name, &#update-first-name { width: 35%; margin-right: .5%; }
					&#new-last-name, &#update-last-name { width: 44.5%; }
				}

				label {
					float: left;
					width: 20%;

					&.wrapper {
						margin-left: 20%;
						width: 80%;
						color: @text;
					}
				}

				button { float: right; }

				.user-remove { 
					float: right;
					line-height: 1.9em;
					margin-right: .5em;
				}
			}
		}
	}
}