// IMPORTS

@import "variables.less";
@import "typography.less";
@import "forms.less";
@import "branding.less";
@import "mixins.less";

// LAYOUT

body {
	background-color: @general-background;
	margin: 0;
	padding: 0;

	// HEADER
	
	header {
		background-color: @header-background;
		color: @header-text;
		height: 60px;
		padding: 0 0 0 20px;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 1px solid @header-line;
		z-index: 666;

		.header-brand {
			float: left;
			margin-top: 5px;
			.logo-airplane (46px);
		}

		.header-search {
			float: left;
			margin: 11px 0 0 20px;
			position: relative;

			input {
				height: 38px;
				width: 250px;
				padding: 0 35px 0 10px;
				border: 1px solid @header-line;

				.border-radius (3px);
				.transition (width .5s ease);

				&:active, &:focus {
					width: 350px;
				}
			}

			button {
				position: absolute;
				margin: 0;
				padding: 0;
				top: 2px;
				right: 13px;
				color: lighten(@header-text, 50%);
				background-color: transparent;
				border-width: 0;

				&:hover {
					color: lighten(@header-text, 10%);
				}
			}
		}

		.header-user {
			float: right;
			height: 60px;
			padding: 0 20px 0 15px;
			margin-left: 15px;
			border-left:  1px solid @header-line;
			color: lighten(@header-text, 45%);
			line-height: 60px;
			position: relative;

			.header-user-menu {
				display: none;
				position: absolute;
				top: 60px;
				right: -20px;
				margin: 0;
				padding: 0;
				background-color: @general-background;
				border-style: solid;
				border-width: 1px 0 0 1px;
				border-color: @general-line;
				list-style-type: none;

				li {
					margin: 0;
					padding: 0;

					a {
						display: block;
						padding: 5px 10px;
						min-width: 150px;
						line-height: 1.4em;
						border-bottom: 1px solid @general-line;
						color: lighten(@general-text, 50%);

						&:hover {
							color: @general-text;
							background-color: darken(@general-background, 5%);
						}
						
						i {
							width: 1.4em;
							text-align: left;
						}
					}
				}
			}

			&:hover {
				color: lighten(@header-text, 35%);
				background-color: darken(@header-background, 3%);
				border-color: darken(@header-line, 3%);
				
				.fa-user { background-color: lighten(@header-text, 76%); }
				.header-user-menu { display: block; }
			}
		}

		.header-nav {
			float: right;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;

					a {
						display: inline-block;
						height: 60px;
						padding: 0 12px;
						line-height: 60px;
						font-size: 1.5em;
						color: lighten(@header-text, 60%);
						text-decoration: none;
						border-width: 0;

						&:hover {
							color: lighten(@header-text, 40%);
						}
					}

					&.active {
						position: relative;

						&:before {
							content: "";
							display: block;
							position: absolute;
							top: 50px;
							left: 50%;
							margin-left: -11px;
							width: 0;
							height: 0;
							border-style: solid;
							border-color: transparent;
							border-bottom-color: @header-line;
							border-width: 0 10px 10px 10px;
						}

						&:after {
							content: "";
							display: block;
							position: absolute;
							top: 52px;
							left: 50%;
							margin-left: -11px;
							width: 0;
							height: 0;
							border-style: solid;
							border-color: transparent transparent @general-background transparent;
							border-width: 0 10px 10px 10px;
						}

						a { 
							color: lighten(@header-text, 40%); 
						} 
					}
				}
			}
		}
	}

	// MAIN

	main {
		margin: 70px 0 0;
		padding: 0 20px;
		.clearfix;

		// NEWS

		&.news {
			
		}

		// DOCUMENTS

		&.docs {

			aside {
				float: left;
				width: 14.5%;
				border-right: 1px solid @general-line;
				margin-top: 20px;
				z-index: 555;

				.sidebar-nav, .sidebar-options {
					list-style-type: none;
					margin: 0;
					padding: 15px 0;

					li {

						a {
							display: block;
							padding: 5px 5px 5px 20px;
							border-width: 0;
							color: lighten(@general-text, 50%);
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;


							&:hover {
								color: @general-text;
							}

							i {
								width: 1.3em;

							}
						}

						.sidebar-subnav { display: none; }

						&.active {
							border: 1px solid @general-line;
							border-right: 1px solid @general-background;
							margin: 5px 0;
							padding: 5px 0;
							position: relative;
							left: 1px;

							a {
								color: @general-text;
								padding-left: 19px;
							}

							.sidebar-subnav {
								list-style-type: none;
								margin: 0;
								padding: 0;
								display: block;

								li {
									margin: 0;
									padding: 0;

									&:first-child { margin-top: 5px; }
									&:last-child { margin-bottom: 5px; }

									a {
										padding: 3px 0 3px 30px;
										margin: 0;
										color: lighten(@general-text, 50%);

										&:hover { color: lighten(@general-text, 10%); }
									}

									&.active {
										border-width: 0;
										padding: 0;
										margin: 0;
										position: relative;
										left: 0;
										font-weight: bold;


										a {
											color: lighten(@general-text, 10%); 
										}
									}
								}
							}
						}
					}
				}
			}

			article {
				margin: 0 0 0 17%;

				.document-body {
					margin-bottom: 2em;
				}

				small {
					display: block;
					text-align: right;
					color: lighten(@general-text, 60%);
				}
			}
		}	
	}

	// FOOTER

	footer {
		background-color: @footer-background;
		color: @footer-text;
		padding: 10px 0 10px;
		margin: 30px 20px;
		border-top: 1px solid @footer-line;

		ul {
			list-style-type: none;
			float: left;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 15px;

				a {
					border-bottom-width: 0;
					color: @footer-text;

					&:hover {
						color: darken(@footer-text, 20%);
					}
				}

				&.active a {
					color: darken(@footer-text, 20%);
					line-height: 1.15em;
					border-bottom: 2px solid lighten(@footer-text, 10%);
				}
			}
		}
		

		.footer-credits {
			float: right;

			a {
				border-bottom-width: 0;
				color: @footer-text;
				font-style: italic;

				&:hover {
					color: darken(@footer-text, 20%);
				}
			}

			&.active {
				color: darken(@footer-text, 20%);
				line-height: 1.15em;
				border-bottom: 2px solid lighten(@footer-text, 10%);
			}
		}
	}
}
