// IMPORTS

@import "variables.less";
@import "typography.less";
@import "forms.less";
@import "branding.less";
@import "mixins.less";

// LAYOUT

body {
	background-color: @general-background;
	margin: 0;
	padding: 0;

	// HEADER
	
	header {
		background-color: @header-background;
		color: @header-text;
		height: 60px;
		padding: 0 0 0 20px;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 1px solid @header-line;
		z-index: 666;

		.header-brand {
			float: left;
			margin-top: 5px;
			.logo-airplane (46px);
		}

		.header-search {
			float: left;
			margin: 11px 0 0 20px;
			position: relative;
			width: 35%;

			input {
				height: 38px;
				width: 100%;
				padding-right: 35px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			button {
				position: absolute;
				margin: 0;
				padding: 0;
				top: 8px;
				right: 18px;
				color: lighten(@header-text, 50%);
				background-color: transparent;
				border-width: 0;

				&:hover {
					color: lighten(@header-text, 10%);
				}
			}
		}

		.header-user {
			float: right;
			height: 60px;
			padding: 0 20px 0 15px;
			margin-left: 15px;
			border-left:  1px solid @header-line;
			color: lighten(@header-text, 45%);
			line-height: 60px;
			position: relative;

			.fa-user {
				display: inline-block;
				width: 42px;
				height: 42px;
				background-color: lighten(@header-text, 75%);
				color: #fff;
				text-align: center;
				line-height: 40px;
				font-size: 1.4em;
				border-radius: 21px;
				margin: 7px 6px 0 0;
				border: 1px solid lighten(@header-text, 70%);
				text-shadow: 1px 1px 0 lighten(@header-text, 70%), -1px 1px 0 lighten(@header-text, 70%), 1px -1px 0 lighten(@header-text, 70%), -1px -1px 0 lighten(@header-text, 70%),

			}

			.header-user-menu {
				display: none;
				position: absolute;
				top: 60px;
				right: -20px;
				margin: 0;
				padding: 0;
				background-color: @general-background;
				border-style: solid;
				border-width: 1px 0 0 1px;
				border-color: @general-line;
				list-style-type: none;

				li {
					margin: 0;
					padding: 0;

					a {
						display: block;
						padding: 5px 10px;
						min-width: 150px;
						line-height: 1.4em;
						border-bottom: 1px solid @general-line;
						color: lighten(@general-text, 50%);

						&:hover {
							color: @general-text;
							background-color: darken(@general-background, 5%);
						}
						
						i {
							width: 1.4em;
							text-align: left;
						}
					}
				}
			}

			&:hover {
				color: lighten(@header-text, 35%);
				background-color: darken(@header-background, 3%);
				border-color: darken(@header-line, 3%);
				
				.fa-user { background-color: lighten(@header-text, 76%); }
				.header-user-menu { display: block; }
			}
		}

		.header-nav {
			float: right;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;

					a {
						display: inline-block;
						height: 60px;
						padding: 0 12px;
						line-height: 60px;
						font-size: 1.5em;
						color: lighten(@header-text, 60%);
						text-decoration: none;
						border-width: 0;

						&:hover {
							color: lighten(@header-text, 40%);
						}
					}

					&.active {
						position: relative;

						&:before {
							content: "";
							display: block;
							position: absolute;
							top: 50px;
							left: 50%;
							margin-left: -11px;
							width: 0;
							height: 0;
							border-style: solid;
							border-color: transparent;
							border-bottom-color: @header-line;
							border-width: 0 10px 10px 10px;
						}

						&:after {
							content: "";
							display: block;
							position: absolute;
							top: 52px;
							left: 50%;
							margin-left: -11px;
							width: 0;
							height: 0;
							border-style: solid;
							border-color: transparent transparent @general-background transparent;
							border-width: 0 10px 10px 10px;
						}

						a { 
							color: lighten(@header-text, 40%); 
						} 
					}
				}
			}
		}
	}

	// MAIN

	main {
		margin: 70px 0 0;
		padding: 0 20px;
		.clearfix;

		// SIDEBAR

		aside {
			float: left;
			width: 14.5%;
			border-right: 1px solid @general-line;
			margin-top: 20px;
			z-index: 555;

			.sidebar-nav {
				list-style-type: none;
				margin: 0;
				padding: 15px 0;

				li {

					a {
						display: block;
						padding: 5px 5px 5px 20px;
						border-width: 0;
						color: lighten(@general-text, 50%);
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;


						&:hover {
							color: @general-text;
						}
					}

					.sidebar-subnav { display: none; }

					&.active {
						border: 1px solid @general-line;
						border-right: 1px solid @general-background;
						margin: 5px 0;
						padding: 5px 0;
						position: relative;
						left: 1px;

						a {
							color: @general-text;
							padding-left: 19px;
						}

						.sidebar-subnav {
							list-style-type: none;
							margin: 0;
							padding: 5px 0;
							display: block;

							li {
								margin: 0;
								padding: 0;

								a {
									padding: 3px 0 3px 30px;
									margin: 0;
									color: lighten(@general-text, 50%);

									&:hover { color: lighten(@general-text, 10%); }
								}

								&.active {
									border-width: 0;
									padding: 0;
									margin: 0;
									position: relative;
									left: 0;
									font-weight: bold;


									a {
										color: lighten(@general-text, 10%); 
									}
								}
							}
						}
					}
				}
			}
		}

		// DOCUMENTS

		&.docs {

			article {
				margin-left: 17%;
			}
		}

		// NEWS

		&.news {
			position: relative;

			.new-article {
				position: absolute;
				top: 1em;
				right: 20px;
			}
		}	
	}

	// FOOTER

	footer {
		background-color: @footer-background;
		color: @footer-text;
		padding: 10px 0 10px;
		margin: 30px 20px;
		border-top: 1px solid @footer-line;

		ul {
			list-style-type: none;
			float: left;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 15px;

				a {
					border-bottom-width: 0;
					color: @footer-text;

					&:hover {
						color: darken(@footer-text, 20%);
					}
				}

				&.active a {
					color: darken(@footer-text, 20%);
					line-height: 1.15em;
					border-bottom: 2px solid lighten(@footer-text, 10%);
				}
			}
		}
		

		.footer-credits {
			float: right;

			a {
				border-bottom-width: 0;
				color: @footer-text;
				font-style: italic;

				&:hover {
					color: darken(@footer-text, 20%);
				}
			}

			&.active {
				color: darken(@footer-text, 20%);
				line-height: 1.15em;
				border-bottom: 2px solid lighten(@footer-text, 10%);
			}
		}
	}

	// POPUP

	.popup-wrapper {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2222;

		background-color: fade(@general-text, 70%);
		opacity: 0;

		.transition (opacity .3s ease-out);

		.popup {
			position: absolute;
			top: 47%;
			left: 50%;

			padding: 5em 1em;
			width: 80%;

			background-color: @general-background;

			overflow-y: auto;
			overflow-x: hidden;

			.transition (top .3s ease-out);
			.border-radius (5px);
			.box-sizing (border-box);

			.fa-refresh {
				position: absolute;
				top: 50%;
				left: 50%;

				font-size: 3em;
				color: lighten(@general-text, 60%);

				margin-left: -.5em;
				margin-top: -.5em;
			}

			.popup-close {
				position: absolute;
				top: .3em;
				right: .7em;

				font-size: 1.6em;
				color: lighten(@general-text, 60%);

				cursor: pointer;

				&:hover {
					color: lighten(@general-text, 10%);
				}
			}

			h1 {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;

				padding: .5em 1em;
				margin: 0;

				background-color: @general-background;
				border-bottom: 1px solid @general-line;

				.border-radius (5px 5px 0 0);
			}
		}

		&.active {
			opacity: 1;

			.popup { top: 50%; }
		}
	}
}
